<div class="form-group">
    <label for="example2" class="requiredField">Error state</label>
    <input class="form-control input-validation-error" id="example2">
    <span class="field-validation-error">
        <span for="example2" class="">Required</span>
    </span>
</div>