---
title: Widgets
---

<div class="panel panel-default uFontSizeS">

    <!-- Panel Header -->
    <div class="panel-heading">
        <h3 class="panel-title">
            <i class="material-icons">question_answer</i> 
            Widget Title
        </h3>

        <span class="pull-right">
            <a href="#" class="panel-heading-link">
                <i class="material-icons md-16">settings</i> 
                Settings
            </a>
        </span>
    </div>

    <!-- Panel Body -->
    <div class="panel-body overflow-visible uPaddingAn">
        <div class="uPaddingAl">Example widget content...</div>
    </div>

    <!-- Panel Footer -->
    <div class="panel-footer">
        <span>Widget footer text</span>
        <span class="pull-right linkPrimary linkUnderline">
            <i class="material-icons md-20">info_outline</i>
                An icon some text with a link and a badge <a href="#">read more</a>
            <span class="badge">3</span>
        </span>
    </div>

</div>