---
title: Excursion Consent 1
layout: Portal
---

<ol class="breadcrumb">
  <li><a href="#">Jacalyn (12)</a></li>
  <li><a href="#">Excursions</a></li>
  <li><a href="#">Grampians School Camp</a></li>
  <li><a href="#" class="active">Consent</a></li>
</ol>

<div class="container uMarginTm">
    <div class="row">
        <div class="col-xs-12 col-sm-3 hidden-xs">
            <ul class="list-group">
                <li class="list-group-item">Excursion Details</li>
                <li class="list-group-item">Confirm Medical Details</li>
                <li class="list-group-item">Confirm Requirements</li>
                <li class="list-group-item">Confirm Abilities</li>
                <li class="list-group-item">Give Consent</li>
                <li class="list-group-item disabled">Excursion Payment</li>
            </ul>
        </div>
        
        <div class="col-xs-12 col-sm-9">
            <div class="alert alert-info">
                <div class="bold uMarginBxs">Excursion Consent</div>
                <label for="consent-0">
                    <input type="checkbox" id="consent-0">
                    I authorise Jacalyn to attend the the Grampians School Camp
                </label>
            </div>

            <div class="alert alert-info">
                <div class="bold uMarginBxs">Additional Consent (Optional)</div>
                <label for="consent-1">
                    <input type="checkbox" id="consent-1">
                    I authorise Jacalyn to go swimming when supervised while on this trip.
                </label>
                <label for="consent-2">
                    <input type="checkbox" id="consent-2">
                    I give permission for Jacalyn to go on Helicopter flight and agree to pay the additional $150 incurred.
                </label>
                <label for="consent-3">
                    <input type="checkbox" id="consent-3">
                    I give permission for Jacalyn to go rockclimbing on this excursion.
                </label>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="btnRow pull-right">
            <a href="#" class="btn btn-default">Decline</a>
            <a href="#" class="btn btn-primary">Continue to payment <i class="material-icons md-16">arrow_forward</i></a>
            </div>
        </div>
    </div>
</div>

