---
title: Excursion Consent 1
layout: Portal
---

<ol class="breadcrumb">
  <li><a href="#">Jacalyn (12)</a></li>
  <li><a href="#">Excursions</a></li>
  <li><a href="#">Grampians School Camp</a></li>
  <li><a href="#" class="active">Event Details</a></li>
</ol>

<div class="container uMarginTm">
    <h2>Grampians School Camp</h2>
    <div class="row">
        <div class="col-xs-12 col-sm-3">
            <ul class="list-group">
                <li class="list-group-item">Excursion Details</li>
                <li class="list-group-item disabled">Confirm Medical Details</li>
                <li class="list-group-item disabled">Confirm Requirements</li>
                <li class="list-group-item disabled">Confirm Abilities</li>
                <li class="list-group-item disabled">Give Consent</li>
                <li class="list-group-item disabled">Excursion Payment</li>
            </ul>
        </div>
        
        <div class="col-xs-12 col-sm-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h5 class="uBorderBottom1 bold">Description:</h5>
                    <p>School Camp in the Grampian Ranges. Staying at bush campsites from Rocklands to the Black Range in Grampians National Park.</p>
                    <h5 class="uBorderBottom1 bold">Attire &amp; Packing List:</h5>
                    <p>Attire will depend on the activities and includes the following: <br>
                        - Warm jumpers and trousers<br>
                        - Hiking books or shoes suitable for hiking<br>
                        - Thick socks for hiking<br>
                        - Swimsuit and towel<br>
                         
                        School uniform is not required for this excursion.</p>
                    <h5 class="uBorderBottom1 bold">Dates &amp; Times:</h5>
                    Starts: 12/6/2015 at 9:00am<br>
                    Ends: 14/6/2015 at 3:00pm <br>
                    RSVP by: 25/5/2015
                </div>
            </div> <!-- /.panel -->
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="btnRow pull-right">
            <a href="#" class="btn btn-default">Decline</a>
            <a href="prototypes/community-portal/excursion/excursions-consent-gen.html" class="btn btn-primary">Continue <i class="material-icons md-16">arrow_forward</i></a>
            </div>
        </div>
    </div>
</div>

