<div class="form-group">
    <label for="ccNumber">Card type</label>
    <select class="form-control">
        <option>Visa</option>
        <option>Mastercard</option>
        <option>Amex</option>
    </select>
</div>