---
title: Pastoral Care
layout: prototype
---

<style>
.navbaar i {
   vertical-align: middle;
}

.uiList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navtop li a {
    color: #fff;
    padding: 1em;
    background-color: #333;
    width: 50%;
    float: left;
    text-decoration: none;
}

.navitems li a {
    color: #fff;
    padding: 1em;
    background-color: #666;
    border: solid 1px #555;
    width: 50%;
    float: left;
    text-decoration: none;
}

li a i {
    vertical-align: middle;
}

a:hover, 
li a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #333;
}

ul.navitems {
    background-color: #ccc;
}

.navbase {
    background-color: red;
}
</style>

grey arrears

<nav class="navbase">
    <ul class="uiList navtop">
        <li><a href="#"><i class="material-icons">menu</i> Menu</a></li>
        <li><a class="text-right" href="#">Test<i class="material-icons">arrow_drop_down</i></a></li>
    </ul>
    <div class="navbase">
        <ul class="uiList navitems">
            <li class="current"><a href="#">Results</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Work</a></li>
            <li><a href="#">Methods</a></li>
            <li><a href="#">Results</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Work</a></li>
            <li><a href="#">Methods</a></li>
            <li><a href="#">Results</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
</nav>