---
title: My Details
layout: prototype
---
<style>
	body {
		background-color: #666;
	}
	.phone {
		width: 1320px;
		margin: auto;
	}
	.panel * {
		font-size: 14px;
	}

	label {
		font-weight: bold;
	}

</style>

<!-- Pastoral care -->

<%= partial "partials/navigation/site-navigation" %>

<div class="phone">

<!-- Panel -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Panel with title</h3>
  </div>
  <div class="panel-body">
  	  <p class="uBorderBottom text-muted text-uppercase">Doctor 1</p>
	  <div class="row">
	  	<div class="col-xs-6">
	  		<label for="" class="uMarginAn">Name:</label>
	  		<p>Joane Clive Barker Smithy</p>

	  		<label class="uMarginBn">Name:</label>
	  		<p>Joane Clive Barker Smithy</p>
	  	</div>

	  	<div class="col-xs-6">
	  		<label for="" class="uMarginAn">Address:</label>
	  		 <p>5/40 Roger Street, Melbounre Victoria  3056</p>
	  	</div>

	  </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Panel with title</h3>
  </div>
  <div class="panel-body">
    Panel content.
  </div>
</div>

</div>