<div class="panel">
    <div class="panel-body">
        <h2>Order Summary</h2>
        <table class="table uMarginBn">

            <thead>
                <tr>
                    <th>Description</th> 
                    <th>Quantity</th>
                    <th>Price</th>
                    <th class="text-right">Total</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Total</th> 
                    <th></th>
                    <th></th>
                    <th class="text-right">$412.00</th>
                </tr>
            </tfoot>
            <tbody>
                <tr>
                    <td>Student</td>
                    <td>2</td>
                    <td>100.00</td>
                    <td class="text-right">200.00</td>
                </tr> 
                <tr>
                    <td>Adult</td>
                    <td>1</td>
                    <td>100.00</td>
                    <td class="text-right">100.00</td>
                </tr> 
                <tr>
                    <td>Concesion</td>
                    <td>2</td>
                    <td>50.00</td>
                    <td class="text-right">100.00</td>
                </tr>
                <tr class="info">
                    <td>Card surcharge</td>
                    <td></td>
                    <td></td>
                    <td class="text-right">12.00</td>
                </tr>
            </tbody> 
        </table>
    </div>
</div>