<div class="iconDemo">
    <div class="frame">
        <i class="material-icons">access_time</i>
        <div class="iconClass">
            <code>access_time</code>
        </div>
    </div>

    <div class="frame">
        <i class="material-icons">view_module</i>
        <div class="iconClass">
            <code>view_module</code>
        </div>
    </div>

    <div class="frame">
        <i class="material-icons">edit</i>
        <div class="iconClass">
            <code>edit</code>
        </div>
    </div>

    <div class="frame">
        <i class="material-icons">remove_circle</i>
        <div class="iconClass">
            <code>remove_circle</code>
        </div>
    </div>

    <div class="frame">
        <i class="material-icons">description</i>
        <div class="iconClass">
            <code>description</code>
        </div>
    </div>

    <div class="frame">
        <i class="material-icons">settings</i>
        <div class="iconClass">
            <code>settings</code>
        </div>
    </div>

    <div class="frame">
        <i class="material-icons">access_time</i>
        <div class="iconClass">
            <code>access_time</code>
        </div>
    </div>

    <div class="frame">
        <i class="material-icons">group</i>
        <div class="iconClass">
            <code>group</code>
        </div>
    </div>

    <div class="frame">
        <i class="material-icons">email</i>
        <div class="iconClass">
            <code>email</code>
        </div>
    </div>

    <div class="frame">
        <i class="material-icons">phone_android</i>
        <div class="iconClass">
            <code>phone_android</code>
        </div>
    </div>

    <div class="frame">
        <i class="material-icons">more_horiz</i>
        <div class="iconClass">
            <code>more_horiz</code>
        </div>
    </div>

</div>