<div class="iconDemo">

	<div class="frame">
		<i class="iconSearch"></i>
		<div class="iconClass">
			<code>iconSearch</code>
		</div>
	</div>
	<div class="frame">
		<i class="iconCogs"></i>
		<div class="iconClass">
			<code>iconCogs</code>
		</div>
	</div>
	<div class="frame">
		<i class="iconCog"></i>
		<div class="iconClass">
			<code>iconCog</code>
		</div>
	</div>
	<div class="frame">
		<i class="iconPrint"></i>
		<div class="iconClass">
			<code>iconPrint</code>
		</div>
	</div>
	<div class="frame">
		<i class="iconTrash"></i>
		<div class="iconClass">
			<code>iconTrash</code>
		</div>
	</div>
	<div class="frame">
		<i class="iconPhoto"></i>
		<div class="iconClass">
			<code>iconPhoto</code>
		</div>
	</div>
	<div class="frame">
		<i class="iconEnvelope"></i>
		<div class="iconClass">
			<code>iconEnvelope</code>
		</div>
	</div>
	<div class="frame">
		<i class="iconDownload"></i>
		<div class="iconClass">
			<code>iconDownload</code>
		</div>
	</div>
	<div class="frame">
		<i class="iconBulkAdd"></i>
		<div class="iconClass">
			<code>iconBulkAdd</code>
		</div>
	</div>
	<div class="frame">
		<i class="iconPopOut"></i>
		<div class="iconClass">
			<code>iconPopOut</code>
		</div>
	</div>
	<div class="frame">
		<i class="iconContract"></i>
		<div class="iconClass">
			<code>iconContract</code>
		</div>
	</div>
	<div class="frame">
		<i class="iconHistory"></i>
		<div class="iconClass">
			<code>iconHistory</code>
		</div>
	</div>
	<div class="frame">
		<i class="iconAlertFill"></i>
		<div class="iconClass">
			<code>iconAlertFill</code>
		</div>
	</div>
	<div class="frame">
		<i class="iconCheckFill"></i>
		<div class="iconClass">
			<code>iconCheckFill</code>
		</div>
	</div>
	<div class="frame">
		<i class="iconCheckFill"></i>
		<div class="iconClass">
			<code>iconCheckFill</code>
		</div>
	</div>
	<div class="frame">
		<i class="iconwarnFill"></i>
		<div class="iconClass">
			<code>iconwarnFill</code>
		</div>
	</div>
	<div class="frame">
		<i class="iconCrossFill"></i>
		<div class="iconClass">
			<code>iconCrossFill</code>
		</div>
	</div>
	<div class="frame">
		<i class="iconAddFill"></i>
		<div class="iconClass">
			<code>iconAddFill</code>
		</div>
	</div>
	<div class="frame">
		<i class="iconRemoveFill"></i>
		<div class="iconClass">
			<code>iconRemoveFill</code>
		</div>
	</div>
	<div class="frame">
		<i class="iconCourtOrder"></i>
		<div class="iconClass">
			<code>iconCourtOrder</code>
		</div>
	</div>
	<div class="frame">
		<i class="iconAna"></i>
		<div class="iconClass">
			<code>iconAna</code>
		</div>
	</div>
	<div class="frame">
		<i class="iconImpComments"></i>
		<div class="iconClass">
			<code>iconImpComments</code>
		</div>
	</div>
	<div class="frame">
		<i class="iconIndPlan"></i>
		<div class="iconClass">
			<code>iconIndPlan</code>
		</div>
	</div>
	<div class="frame">
		<i class="iconMedicalAlert"></i>
		<div class="iconClass">
			<code>iconMedicalAlert</code>
		</div>
	</div>
	<div class="frame">
		<i class="iconParentsSep"></i>
		<div class="iconClass">
			<code>iconParentsSep</code>
		</div>
	</div>
	<div class="frame">
		<i class="iconSpecialNeeds"></i>
		<div class="iconClass">
			<code>iconSpecialNeeds</code>
		</div>
	</div>

</div>