<section class="panel quickLinks">
    <div class="panel-heading">
        <h2>Quick links</h2>
    </div>
    <div class="panel-body">
        <ul class="uiList">
            <li><a href="#">Start a New Application</a></li>
            <li><a href="#">Make a General Enquiry</a></li>
        </ul>
    </div>
</section>

