<div class="container-fluid">
    
    <!-- Row One -->
    <div class="row uBorderBottom">
        <div class="col-xs-12 col-sm-3">
            <h2>Harry Peterson</h2>
            <p class="referenceNumber">Ref. 564987</p>
            <button class="btn btn-default" href="#" role="button">Review Application</button>
        </div>

        <div class="col-xs-12 col-sm-3">
            <h4>Status:</h4>
            <p class="status text-success">Submitted</p>
            <p class="statusMessage">This application has been submitted. You will be contacted once it has been reviewed.</p>
        </div>

        <div class="col-xs-12 col-sm-3">
            <h4>Application fee:</h4>
            <p class="status text-success">Paid</p> 
            <p class="statusMessage">Your application fee has been paid in full.</p>
        </div>

        <div class="col-xs-12 col-sm-3">
            <h4>Documents:</h4>
            <ul class="uiLightList">
                <li>Birth certificate.pdf</li>
                <li>School report.doc</li>
                <li>Medical record.pdf</li>
            </ul>
            <button class="btn btn-default" href="#" role="button">Manage Documents</button>
        </div>
    </div>
    
    <!-- Row two -->
    <div class="row">
        <div class="col-xs-12 col-sm-3">
            <h2>Sally Peterson</h2>
            <p class="referenceNumber">Ref. 564988</p>
            <button class="btn btn-primary" href="#" role="button">Resume Application</button>
        </div>

        <div class="col-xs-12 col-sm-3">
            <h4>Status:</h4>
            <p class="status text-danger">Incomplete</p>
            <p class="statusMessage">This application is incomplete and requites more infomation before it can be submitted.</p>
        </div>

        <div class="col-xs-12 col-sm-3">
            <h4>Application fee:</h4>
            <p class="status text-danger">Not paid </p> 
            <p class="statusMessage">Your application fee requires payment.</p>
        </div>

        <div class="col-xs-12 col-sm-3">
            <h4>Documents:</h4>
            <ul class="uiLightList">
                <li>Birth certificate.pdf</li>
                <li>School report.doc</li>
            </ul>
            <button class="btn btn-default" href="#" role="button">Manage Documents</button>
        </div>
    </div>
</div>