<div class="panel userDetails">
    <div class="panel-heading clearfix">
        <h2 class="pull-left">My Details</h2>
        <span class="pull-right"><a href="#">Update details</a></span>
    </div>

    <div class="panel-body">
        <div class="asideModule">

            <div class="form-group">
                <label for="">Name:</label>
                 <p>Thomas Peterson</p>
            </div>
            <div class="form-group">
                <label for="">Email:</label>
                 <p>Thomaspeterson@gmail.com</p>
            </div>
            <div class="form-group">
                <label for="">Address: </label>
                <p>121 Pacific St, Corindi Beach, NSW, Australia.</p>
            </div>

            <div class="form-group">
                <label for="">Postal Address: </label>
                <p>PO BOX 44 Jln Dermawan, Singapore</p>
            </div>
        </div>
    </div>
</div>


<div class="panel userDetails userDetailsEdit">
    <div class="panel-heading clearfix">
        <h2 class="pull-left">Update My Details</h2>
    </div>

    <div class="panel-body">
        <div class="asideModule">

            <!-- Name -->
            <div class="form-group">
                <label for="">Name:</label>
                <input type="text" class="form-control" placeholder="First Name">
                <input type="text" class="form-control" placeholder="Surname">
            </div>

            <!-- Email -->
            <div class="form-group">
                <label for="">Email:</label>
                <input type="email" class="form-control" value="thomaspeterson@gmail.com" autocapitalize="off" autocorrect="off" autocomplete="email">
            </div>

            <div class="form-group">
               <label for="">Address: </label> <label class="pull-right"><input type="checkbox"> Same as Postal Address</label>
                <input type="text" class="form-control" placeholder="Address 1">
                <input type="text" class="form-control" placeholder="Address 2">
                <input type="text" class="form-control" placeholder="Address 3">
                <select class="form-control" placeholder="Country"><option>Select Country</option></select>
                <div class="row">
                  <div class="col-xs-6">
                    <select class="form-control"><option>Select State</option></select>
                  </div>
                  <div class="col-xs-6">
                    <input type="text" class="form-control" placeholder="Postcode">
                  </div>
                </div>
            </div>

            <div class="pull-right">
                <button type="button" class="btn btn-primary">Save</button> 
                <button type="button" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </div>
</div>


<div class="alert alert-info" role="alert">
    <h2>Contact us</h2>
    <p>For general enquires please call us or visit our campus.</p>
    <p><strong>Phone:</strong>  <br>+61 3 9803 8000</p>
    <p><strong>Address:</strong>  <br>1st Floor, Building 4
    <br>303-313 Burwood Hwy
    <br>Burwood East VIC 3151</p>
</div>

</br>
</br>
</br>
</br>
