<!doctype html>
<html>

<head>
    <%= partial "partials/headImports" %>
    <%= stylesheet_link_tag 'modules/dashboard' %>
</head>
  
  <body class="<%= page_classes %>">
        <%= yield %>
  </body>


</html>

