<div class="container padH0">
  <div class="alert alert-danger" role="alert">
    <ul>
      <li>Family Name must be entered.</li>
      <li>Date of Birth must be entered.</li>
      <li>Email Address must be entered.</li>
      <li>Confirm Email Address must be entered.</li>
      <li>Country must be entered.</li>
      <li>Address Line 1 must be entered.</li>
      <li>Suburb/Town must be entered.</li>
      <li>Country of Birth must be entered.</li>
      <li>Main Language spoken at home must be entered.</li>
    </ul>
  </div>
</div>