<!-- Header -->
<div class="headerWrap">
  <header class="header container">
    <div class="row">
    <div class="col-xs-1">
      <div class="headerLogo">
        <img src="http://placehold.it/150x150" class="img-responsive" alt="" />
      </div>
    </div>
    <div class="col-xs-5">
      <h1><strong>Synergetic College</strong> <br />Payment</h1>
    </div>
    <div class="col-xs-6">
  <!-- <p class="headerText">Our online application will guide you to submit an application for {School Name}.
  Before you start your application, check the course webpage carefully for any specific application requirements that apply. Source: unimelb </p> -->
    </div>
    </div>
  </header>
</div>