<!--Section 03-->
<section class="container panel">
	  	<h2>Radios and Checkboxes</h2>
		<div class="sectionCollapsible">
			<!-- Stacked Checkboxes -->
			<div class="row">
				<fieldset class="checkboxGroupStacked">
					<legend class="col-xs-3">Staked Checkbox Group</legend>
					<div class="col-xs-9 checkboxGroup1">
						 <div class="checkbox">
						  <label>
						    <input type="checkbox" value="" checked>
						    Option one
						  </label>
						</div>
						<div class="checkbox">
						  <label>
						    <input type="checkbox" value="">
						    Option two
						  </label>
						</div>
						<div class="checkbox">
						  <label>
						    <input type="checkbox" value="">
						    Option three
						  </label>
						</div>
					<span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="tel" role="alert">Please select at least one.</span>
					</div>
				</fieldset>
			</div>

			<!-- Stacked Radios -->
			<div class="row">
				<fieldset class="radioGroupStacked required-field">
					<legend class="col-xs-3">Stacked Radio Group</legend>
					<div class="col-xs-9">
				    <div class="radio">
				      <label>
				        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
				        Radio option one
				      </label>
				    </div>

				    <div class="radio">
				      <label>
				        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
				        Radio option two
				      </label>
				    </div>

				    <div class="radio">
				      <label>
				        <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" >
				        Radio option three
				      </label>
				    </div>
				</fieldset>
			</div>

			<!-- Inline Checkboxes -->
			<div class="row">
				<fieldset class="checkboxGroupInline">
					<legend class="col-xs-3">Inline Checkbox Group</legend>
					<div class="col-xs-9">
						<label class="checkbox-inline">
						  <input type="checkbox" id="inlineCheckbox1" value="option1" checked>Checkbox 1
						</label>
						<label class="checkbox-inline">
						  <input type="checkbox" id="inlineCheckbox2" value="option2">Checkbox 2
						</label>
						<label class="checkbox-inline">
						  <input type="checkbox" id="inlineCheckbox3" value="option3">Checkbox 3
						</label>
						<span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="tel" role="alert">Please select at least one.</span>
					</div>
				</fieldset>
			</div>

			<!-- Inline Radios -->
			<div class="row">
				<fieldset class="radioGroupInline">
					<legend class="col-xs-3">Inline Radio Group</legend>
					<div class="col-xs-9 ">
						<label class="radio-inline">
						  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked	>Radio 1
						</label>
						<label class="radio-inline">
						  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">Radio 2
						</label>
						<label class="radio-inline">
						  <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Radio 3
						</label>
					</div>
				</fieldset>
			</div>
		</div>
</section>