<!--Section 01-->
<section class="container panel">
    <h2>Text inputs</h2>
    <div class="sectionCollapsible">
    
        <!-- Form width 1 -->
        <div class="form-group required-field">
            <label for="textInput1" class="col-xs-3 control-label">Text input</label>
            <div class="col-xs-2">
                <input type="text" class="form-control" id="textInput1">
                <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="tel" role="alert">This field is required</span>
            </div>
        </div>

        <!-- Form width 2 -->
        <div class="form-group">
            <label for="textInput4" class="col-xs-3 control-label">Text input</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="textInput4  ">
            </div>
        </div>

        <!-- Form width 3 -->
        <div class="form-group">
            <label for="textInput6" class="col-xs-3 control-label">Text input</label>
            <div class="col-xs-9">
                <input type="text" class="form-control" id="textInput6">
            </div>
        </div>

    </div>
</section>