<style>
.dropdown-toggle {
    z-index: 99997;
}

.dropdown-menu {
    z-index: 99999999999;
    background-color: #fff;
    position: absolute;
}
</style>
<div class="dropdown">
    <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
        <i class="material-icons md-24 pull-right">more_horiz</i>
    </a>
    <ul class="dropdown-menu">
        <li><a href="#"><i class="material-icons">launch</i> Launch Class Maintainence</a></li>
        <li><a href="#"><i class="material-icons">launch</i> Launch Staff Maintainence</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#"><i class="material-icons">file_download</i> Export to Excel</a></li>
        <li><a href="#"><i class="material-icons">file_download</i> Export to Excel (all fields)</a></li>
        <li><a href="#"><i class="material-icons">file_download</i> Export to PDF</a></li>
        <li><a href="#"><i class="material-icons">file_download</i> Export to CSV</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#"><i class="material-icons">local_offer</i> Tag Record</a></li>
        <li><a href="#"><i class="material-icons">local_offer</i> Untag Record</a></li>
        <li><a href="#"><i class="material-icons">local_offer</i> Untag All Records</a></li>
        <li><a href="#"><i class="material-icons">local_offer</i> Tag All Records</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#"><i class="material-icons">email</i> Email Record</a></li>
        <li><a href="#"><i class="material-icons">email</i> Email All Records</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Records <span class="badge">42</span></a></li>
    </ul>
</div>