<div class="dropdown">
    <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
        <i class="material-icons md-16">description</i>
    </a>
    <ul class="dropdown-menu">
        <li><a href="#"><i class="material-icons">description</i> Class Student Photos (Horizontal)</a></li>
        <li><a href="#"><i class="material-icons">description</i> Class List (with Students) and lines</a></li>
    </ul>
</div>