<h2>Containers</h2>

<div class="stickyTop jsMoreContent">	
    <div class="alert alert-info alert-shadow" role="alert">
        This is my alert
    </div>
</div>


<h3 class="uBorderTop2">Sticky top container</h3>

<% code("html") do %>
<div class="stickyTop">
    
    <!-- Your content here -->

</div>
<% end %>