---
title: Emails
---

<h2>HTML Email Template</h2>
<a class="btn btn-default" href="../assets/html-email.zip" target="_blank" role="button">Download the template</a>
<br>
<br>
<img src="../img/email-template.png">
<br>


