<!-- Intro -->
<div class="clearfix">
    <div class="col-xs-12">
        <h2 class="uBorderBottom2">Form Validation</h2>
    </div>
</div>

<!-- Email of a required field -->
<div class="clearfix">
<%= partial "partials/forms/required-field" %>
</div>

<% code("html") do %>
<%= partial "partials/forms/required-field" %>
<% end %>


<hr>

<!-- Email of a required field on lost focus -->
<div class="clearfix">
<%= partial "partials/forms/Validation-error" %>
</div>

<% code("html") do %>
<%= partial "partials/forms/Validation-error" %>
<% end %>
