---
title: General Standards
---

<section>
	<h2>General Standards</h2>
    <div class="example">
		<section id="browser-support">
			<h3>Browser Support</h3>
			<p>SynWeb v67 is optimised for IE10+, Chrome, Safari and Firefox.</p>
		</section>

		<section id="screen-resolution">
			<h3>Screen Resolution</h3>
			<ul>
			<li>The minimum screen resolution for SynWeb v67 is 1024x768.</li>
			<li>Layouts should consider the other common screen resolutions. Including: 1366x768 and 1920x1080</li>
			</ul>
		</section>

		<section id="copywriting">
			<h3>Device support</h3>
			<p>SynWeb v67 aims to support tablets and laptops with touch input.</p>
		</section>

	</div>
</section>