---
title: Layout
---
<section id="icons">
    <div class="example panel">

        <div>
            <h2>Layout</h2>
        </div>
    
        <div class="textLarge">
	        <p>This document contains guidelines for Synergetic web applications. It is available to anyone who is intersted or who can contribute to our UX/UI best practices.</p>
            <p>The goal of this document is to increase the consistency of the user interface and to establish default design patterns for UI development. By maintaining consistency in coding styles and conventions, we can ease the burden of legacy code maintenance, and mitigate risk of breakage and defects. Maintaining consistent user interface patterns improves usability and increases the learnability of new features.</p>
        </div>
        
    </div>
</section>