---
title: Modal message
layout: prototype
---

<style>

.modal-notes {
    /* new custom width */
    width: 80%;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin: 2em auto;
}

.modal-body {
  max-height: 60vh;
  overflow-y: auto;
}

.message-bubble {
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 6px;
  padding: 1em .5em;
  background-color: #fff;
  margin-bottom: 1em;
}

.link-bottom {
  position: absolute;
  bottom: 0;
  right: .5em;
}

/*.message-bubble:hover {
  background-color: #fafafa;
  cursor: pointer;
}*/

.modal-body {
  background-color: #eee;
}

</style>

<div class="modal" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog modal-notes">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><i class="material-icons">mode_edit</i> Notes for John Stevens (S10, BR)</h4>
      </div>
      <div class="modal-body">
        
        <!-- Message 1 -->
        <div class="row message-bubble">
            <div class="col-xs-12 col-sm-8">
              <h3>General points to discuss</h3>
              <p>Topics covered during this term</strong> <br>
              - Industrial Revolution<br><br>
              How the students have been assessed<br>
              - Assessment 50%<br>
              - Topic Test 50% </p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="pull-right">
                  <a href="#0" class="btn btn-default btn-block"><i class="material-icons md-16">mode_edit</i> Edit</a>
                  <p class="text-muted uMarginTxxs"> Last updated on 1/07/16 <br>at 4:15pm</p>
                </div>
            </div>
        </div>

        <!-- Message 2 -->
        <div class="row message-bubble">
            <div class="col-xs-12 col-sm-8">
              <h3>John's results</h3>
              <p> - Industrial Revolution assignment 82% <br>
                  - Topic test 69% <br>
                  - no problems </p>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="pull-right">
                <a href="#0" class="btn btn-default btn-block"><i class="material-icons md-16">mode_edit</i> Edit</a>
                <p class="text-muted uMarginTxxs"> Last updated on 1/07/16 <br>at 4:15pm</p>
              </div>
            </div>
        </div>

        <!-- Message 3 -->
        <div class="row message-bubble bg-yellow">
            <div class="col-xs-12 col-sm-8">
              <div class="form-group">  
                <input class="form-control" type="text" name="" value="John's results"></input>
              </div>
              <textarea class="form-control" name="" id="" cols="30" rows="10">- Industrial Revolution assignment 82%
- Topic test 69%
- no problems
              </textarea>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="pull-right">
                <a href="#0" class="btn btn-primary btn-block"><i class="material-icons md-16">save</i> Save</a>
                <p class="text-muted uMarginTxxs"> Last updated on 1/07/16 <br>at 4:15pm</p>
                <a href="#0" class="text-danger link-bottom"><i class="material-icons md-16">delete</i> Delete this note</a>
              </div>
            </div>
        </div>

      </div><!-- End modal body -->
      <div class="modal-footer">
        <button type="button" class="btn btn-success"><i class="material-icons">add_circle</i> Add a new note</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
    jQuery('#myModal').modal('show').on('hide.bs.modal', function (e) {
      e.preventDefault()
    });
</script>