---
title: Navigation
---

<h3>Navbar Generic</h3>
<%= partial "partials/navigation/navbar-generic" %>

<% code("html") do %>
<%= partial "partials/navigation/navbar-generic" %>
<% end %>

<h3>Back to top link</h3>
<p>Particularly on mobile, use the following for long pages. The link takes user to navigation or content at the top of the page.</p>
<%= partial "partials/navigation/back-to-top" %>