<style>
    body {
        background-color: #f5f5f5;
    }
</style>


<!-- Panel -->
<div class="panel panel-default">
  <div class="panel-body">
    Default panel
  </div>
</div>


<!-- Panel -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Panel with title</h3>
  </div>
  <div class="panel-body">
    Panel content.
  </div>
</div>


<!-- Panel -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Panel with link</h3>
    <a href="#" class="pull-right">Link</a>
  </div>
  <div class="panel-body">
    Panel content.
  </div>
</div>


<!-- Syn Panel with icon -->
<div class="panel panel-default">
    <div class="panel-heading">
    <h3 class="panel-title">Panel with icon</h3>
        <a href="#" class="pull-right">
            <i class="material-icons uMarginRxxs">save</i> 
            <span class="pull-right">Save</span>
        </a>
    </div>
    <div class="panel-body">
        Add an icon to the panel.
    </div>
</div>


<!-- Panel -->
<div class="panel panel-brand">
  <div class="panel-heading">
    <h3 class="panel-title">Panel title</h3>
  </div>
  <div class="panel-body">
    Panel content.
  </div>
</div>


<!-- Panel -->
<div class="panel panel-brand">
  <div class="panel-heading">
    <h3 class="panel-title">Panel title</h3>
    <a href="#" class="pull-right">Link</a>
  </div>
  <div class="panel-body">
    Panel content
  </div>
</div>


<!-- Syn Panel with icon -->
<div class="panel panel-brand">
    <div class="panel-heading">
    <h3 class="panel-title">Panel with icon</h3>
        <a href="#" class="pull-right">
            <i class="material-icons uMarginRxxs">settings</i> 
            <span class="pull-right">Settings</span>
        </a>
    </div>
    <div class="panel-body">
        Add an icon to the panel.
    </div>
</div>