<style>

iframe {
  width: 100%;
  height: 200px;
  border: solid 1px #ddd;
}

a > iframe {
    cursor: pointer;
}

</style>

<div class="row">

    <div class="col-xs-6">
        <iframe src="http://localhost:4567/prototypes/configurable-homepage.html"></iframe>
        <a href="/prototypes/configurable-homepage.html">
            <p>Configurable Homepage</p>
        </a>
    </div>

    <div class="col-xs-6">
    </div>

</div>