<style>

iframe {
  width: 100%;
  height: 200px;
  border: solid 1px #ddd;
}

a > iframe {
    cursor: pointer;
}

</style>

<div class="row">

    <div class="col-xs-10 uMarginHl lead">
        <p><%= link_to 'Synweb Dashboard', '/prototypes/dashboard.html' %></p>
        <p><%= link_to 'Responsive Portal', '/prototypes/community-portal/my-details/medical.html' %></p>
            
    </div>

</div>