<div style="width: 250px;">

  <!-- Navigation -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Elements</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Properties</a></li>
  </ul>

  <!-- Content -->
  <div class="tab-content" >
    <div role="tabpanel" class="tab-pane active" id="home">...</div>
    <div role="tabpanel" class="tab-pane" id="settings"><%= partial "partials/sidebars/kendo-panelbar-tabs" %></div>
  </div>

</div>
