<h2>Writing style</h2>
<!-- https://design.atlassian.com/2.1/product/foundations/writing-style/ -->
<!-- https://styleguide.tutsplus.com/guide/voiceandtone.php -->

<h3 id="general-rules">General rules</h3>
<ul>
    <li>We use Australian English spelling and sentence case for everything, including titles and buttons.</li>
    <li>User messages and user interface text should use <a href="http://en.wikipedia.org/wiki/Letter_case#Sentence_case" class="subtleLink">sentence case</a>.</li>
    <li>User messages should be concise but not abrupt, comprehensive but not complicated.</li>
    <li>Speak the user's language, not the computer's. Use a standard vocabulary and a natural tone, and be sure to employ contractions so sentences flow naturally. </li>
    <li>If recovery or troubleshooting isn't possible, provide a message body that points the user to an entity that can help – such as a system admin or Synergetic Support</li>
    <li>Clarity first. Avoid unnecessary technical information and provide useful actions the user can perform. Leave out needless words.</li>
    <li>Avoid redundant or unnecessary words. When your UI text is short and direct, users can absorb it quickly and easily. Identify the most important information, express it concisely, and display it prominently so that people don’t have to read too many words to find what they’re looking for or to figure out what to do next.</li>
</ul>

<h3>Date formats</h3>

<!-- http://ux.stackexchange.com/questions/3096/friendly-version-of-date-formats -->

<p>In a sentance use following format with the month truncated to three characters: 12 Oct 2011</p>

<p>In a grid, prefer optimise for sorting the data.</p>
