<h3 class="uBorderTop2">Text Colours</h3>

<div class="colourPallet typeColours">
    <p>This is main default colour for all text. <code>#333333</code></p>
    <p><span style="color: #757575;">Grey text can be used for secondary text.</span> <code>#757575</code></p>
    <p><a href="">Blue text is used for links.</a> <code>#0275D8</code></p>
</div>

<h3 class="uBorderTop2">UI Chrome</h3>
<div class="colourPallet">
    <ul class="uiList">
        <li style="background: #f7f7f7;">#f7f7f7<br>greyLight</li>
        <li style="background: #cccccc;">#cccccc<br>greyMed</li>
        <li style="background: #666666; color: #fff;">#666666<br>greyDark</li>
        <li style="background: #333333; color: #fff;">#333333<br>black</li>
    </ul>
</div>

<h3 class="uBorderTop2">UI Colours</h3>
<div class="colourPallet">
    <ul class="uiList">
        <li style="background: #0275d8; color: #fff;">#0275d8<br>Info</li>
        <li style="background: #5cb85c; color: #fff;">#5cb85c<br>Success</li>
        <li style="background: #f0ad4e; color: #fff;">#f0ad4e<br>Warning</li>
        <li style="background: #d9534f; color: #fff;">#d9534f<br>Danger</li>
    </ul>
</div>

<h3 class="uBorderTop2">Synergetic Brand</h3>
<div class="colourPallet">
    <ul class="uiList">
        <li style="background: #1A8080; color: #fff;">#1A8080<br>Syn</li>
        <li style="background: #156666; color: #fff;">#156666<br>SynDark</li>
        <li style="background: #4D9999; color: #fff;">#4D9999<br>SynLight</li>
    </ul>
</div>

<h3 class="uBorderTop2">Severity Colours</h3>
<div class="colourPallet uMarginBl">
    <ul class="severity uiList">
        <li style="background: #BF8CF2;"> #BF8CF2<br>Purple</li>
        <li style="background: #F985DE;"> #F985DE<br>Pink</li>
        <li style="background: #33BBFF;"> #33BBFF<br>Blue</li>
        <li style="background: #00E6D2;"> #00E6D2<br>Teal</li>
        <li style="background: #5CD65C;"> #5CD65C<br>Green</li>
        <li style="background: #6DC59D;"> #6DC59D<br>Olive</li>
        <li style="background: #FFDD00;"> #FFDD00<br>Yellow</li>
        <li style="background: #FF9538;"> #FF9538<br>Orange</li>
        <li style="background: #FF5F57;"> #FF5F57<br>Red</li>
        <li style="background: #DEDEDE;"> #DEDEDE<br>Silver</li>
    </ul>
</div>