<nav class="navbar navbar-static-top pageHeader dashboardHeader">
  <div class="container">
    <div class="navbar-header">
        <img src="img/logo.png" width="55px" alt="" class="pull-left logo">
        <h1 class="pull-left">Synergetic College<br><span class="subhead"> Application Portal</span></h1>
    </div>
  </div>
</nav>