<div style="font-size: 18px;">
<ul class="uiList">
    <li style="font-weight: 300;">Light 300</li>
    <li style="font-weight: 400;">Normal 400</li>
    <li style="font-weight: 400;">Normal 400 Italic</li>
    <li style="font-weight: 500;">Medium 500</li>
    <li style="font-weight: 600;">Bold 600 </li>
</ul>
</div>

