<table class="table uMarginTl">
    <thead>
        <tr>
            <th width="200">Pixel sizes</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr class="uFontSizeS">
            <td>12px</td>
            <td>Small text <code>&lt;small&gt;</code> can be used help text and as secondary supporting text.</td>
        </tr>
        <tr>
            <td>14px</td>
            <td>The default for all type is 14px.</td>
        </tr>
        <tr class="uFontSizeL">
            <td>16px</td>
            <td>Use the class <code>.large</code> for text which needs to be bigger than the default.</td>
        </tr>
        <tr class="uFontSizeH4">
            <td><h4>18px</h4></td>
            <td>H4 Headings are set at 18px.</td>
        </tr>
        <tr class="uFontSizeH3">
            <td><h3>21px</h3></td>
            <td>H3 Headings are set at 21px.</td>
        </tr>
        <tr class="uFontSizeH2">
            <td><h2>28px</h2></td>
            <td>H2 Headings are set at 28px.</td>
        </tr>
        <tr class="uFontSizeH1">
            <td><h1>35px</h1></td>
            <td>H1 Headings are set at 35px.</td>
        </tr>

    </tbody>
</table>