<table class="table uMarginTl">
    <thead>
        <tr>
            <th width="200">Element</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="type-element">Regular</td>
            <td>The default font style all type is Regular.</td>
        </tr>
        <tr>
            <td class="type-element"><strong>Bold</strong></td>
            <td>Use the <code>&lt;strong&gt;</code> to signify important text. Use <code>.bold</code> for bold styling text on text without special importance.</td>
        </tr>
        <tr>
            <td class="type-element"><em>Italic text</em></td>
            <td>Use the <code>&lt;em&gt;</code> to add <em>emphasis</em> to a word or phrase.</td>
        </tr>
        <tr>
            <td class="type-element"><small>Small text</small></td>
            <td>Small <code>&lt;small&gt;</code> can be used help text and as secondary supporting text.</td>
        </tr>
        <tr class="lead">
            <td class="type-element">Lead</td>
            <td>Use the class <code>.lead</code> is used to introduce a section.</td>
        </tr>

    </tbody>
</table>