<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4">
            <div class="gridExample uPaddingAm"> 
                First column
            </div>
        </div>
        <div class="col-xs-4">
            <div class="gridExample uPaddingAm"> 
                Second column
            </div>
        </div>
        <div class="col-xs-4">
            <div class="gridExample uPaddingAm"> 
                Third column
            </div>
        </div>
    </div>
</div>