<div class="pink box uMarginBl uPaddingAl">
  This box uses the helpers and as a result has a <u>large margin at the bottom</u> and <u>large padding on all sides</u>.
</div>

<div class="blue box uPaddingLl">
  This box has large padding on the left.
</div>
