<div class="purchaseListTotal">
	<div class="row">
		<label for="purchaseListTotalInc">Total Inc</label> <span id="purchaseListTotalInc">99.99</span>
	</div>
	<div class="row">
		<label for="purchaseListTotalTax">Total Tax</label> <span id="purchaseListTotalTax">99.99</span>
	</div>
	<div class="row">
		<label for="purchaseListTotalExc">Total Exc</label> <span id="purchaseListTotalExc">99.99</span>
	</div>
</div>