
<!-- card list item -->
<li class="flex-card-listitem">
    <!-- card module -->
    <div class="flex-card">
        <!-- image container -->
        <div class="flex-card-image">
            <img src="http://placehold.it/350x150" />
        </div>
        <!-- content container -->
        <div class="flex-card-content">
            <h3 class="flex-card-heading">First</h3>
            <p>I'm a card and I'm first.</p>
            <a href="#" class="flex-card-button btn btn-default">Button</a>
        </div>
    </div>
</li>