<div class="paymentForm">
<h2 class="uMarginBm uFontSizeH3">Please enter your details</h2>
<form>

    <div class="form-group">
        <label for="ccNumber">Name on card</label>
        <input autocompletetype="cc-number" class="form-control input-lg" id="ccNumber" maxlength="19" type="tel">
    </div>
    <div class="form-group has-error has-feedback">
        <label class="control-label" for="ccNumber">Card number</label>
        <input autocompletetype="cc-number" class="form-control input-lg" id="ccNumber" maxlength="19" type="tel">
        <div class="alert alert-danger" role="alert">This is not a valid card number.</div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <div class="row has-error has-feedback">
                <div class="col-xs-6 uPaddingRxxs">
                    <label class="control-label" for="ccNumber">Expiry month</label>
                    <select class="form-control input-lg">
                        <option>01</option>
                    </select>
                </div>
                <div class="col-xs-6 uPaddingLn">
                    <label class="control-label" for="ccNumber">Expiry year</label>
                    <select class="form-control input-lg">
                        <option>2020</option>
                    </select>
                </div>
            </div>
            <div class="alert alert-danger" role="alert">Expiry date is incorrect.</div>
        </div>
        <div class="col-xs-6">
            <div class="row has-error has-feedback">
                <div class="col-xs-6">
                    <label for="cvcode" class="control-label">CV code
                    <i title="" class="material-icons helpTooltip" data-toggle="tooltip" data-placement="right" data-original-title="The Card Verification Code is a 3 or 4 digit code printed on your card for added security.">help_outline</i></label>
                    <input autocompletetype="cc-number" class="form-control input-lg" id="cvcode" maxlength="19" type="tel">
                </div>
            </div>
            <div class="alert alert-danger" role="alert">Verification code is incorrect.</div>
        </div>

    </div>
    <div class="btnRow">
        <button type="submit" class="btn btn-lg btn-primary btn-block">Pay</button>
    </div>

</form>
</div>
<script type="text/javascript">
    $('.helpTooltip').tooltip();
</script>