<!-- Modal -->
<div class="modal fade uploaderModal" id="uploaderModalClass" tabindex="-1" role="dialog" aria-labelledby="">
  <div class="modal-dialog" role="document" style="width: 900px;">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Multiple upload modal</h4>
      </div>
      
      <!-- Modal Filter -->
      <div class="modalFilter">
        <div class="form-group">
          <label for="exampleInputEmail1">Filter Document Type</label>
          <input type="text" class="form-control" id="exampleInputEmail1">
        </div>
      </div>
      
      <!-- Modal Body -->
      <div class="modal-body">

        <!-- Document classification 1 -->
        <div class="classifyRow row">
          <div class="col-xs-12 typeRow">
            <h3 class="uFontSizeM">Birth certificate</h3>
          </div>
          <div class="col-xs-8 uPaddingRn">
            <div class="uploaderFileList container-fluid">

              <div class="row headerRow">
                <div class="col-xs-5">File name</div>
                <div class="col-xs-4">Uploaded</div>
                <div class="col-xs-3 text-danger"></div>
              </div>
              <div class="row">
                <div class="col-xs-5">Birth certificate.pdf</div>
                <div class="col-xs-4">15 Sep, 8:56 AM (2016)</div>
                  <div class="col-xs-3 text-danger">
                    <a href="#"><i class="material-icons md-16">remove_circle</i> Delete</a>
                  </div>
              </div>
              <div class="row">
                <div class="col-xs-5">Medical-Record.doc</div>
                <div class="col-xs-4">11 Sep, 9:50 PM (2016)</div>
                  <div class="col-xs-3 text-danger">
                    <a href="#"><i class="material-icons md-16">remove_circle</i> Delete</a>
                  </div>
                </div>
            </div>
          </div>

          <div class="col-xs-4 uPaddingLn">
            <div class="uploaderDropArea">
              <button type="button" 
                      class="btn btn-primary btn-lg uMarginBxs" 
                      data-toggle="modal" 
                      data-target="#myModal">Select files</button> 
                      <p>or drag and drop <br>here to upload</p>
            </div>
          </div>
        </div>

        <!-- Document classification 2 -->
        <div class="classifyRow row">
          <div class="col-xs-12 typeRow">
            <h3 class="uFontSizeM">Report Card</h3>
          </div>
          <div class="col-xs-8 uPaddingRn">
            <div class="uploaderFileList container-fluid">
              <div class="row headerRow">
                <div class="col-xs-5">File name</div>
                <div class="col-xs-4">Uploaded</div>
                <div class="col-xs-3 text-danger"></div>
              </div>
              <div class="row">
                <div class="col-xs-5">Birth certificate.pdf</div>
                <div class="col-xs-4">15 Sep, 8:56 AM (2016)</div>
                <div class="col-xs-3 text-danger">
                  <a href="#"><i class="material-icons md-16">remove_circle</i> Delete</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-4 uPaddingLn">
            <div class="uploaderDropArea">
              <button type="button" 
                      class="btn btn-primary btn-lg uMarginBxs" 
                      data-toggle="modal" 
                      data-target="#myModal">Select files</button> 
                      <p>or drag and drop <br>here to upload</p>
            </div>
          </div>
        </div>

        <!-- Document classification 3 -->
        <div class="classifyRow row">
          <div class="col-xs-12 typeRow">
            <h3 class="uFontSizeM">Academic Transcript</h3>
          </div>
          <div class="col-xs-8 uPaddingRn">
            <div class="uploaderFileList container-fluid">

              <div class="row headerRow">
                <div class="col-xs-5">File name</div>
                <div class="col-xs-4">Uploaded</div>
                <div class="col-xs-3 text-danger"></div>
              </div>
              <div class="row">
                <div class="col-xs-5">Birth certificate.pdf</div>
                <div class="col-xs-4">15 Sep, 8:56 AM (2016)</div>
                  <div class="col-xs-3 text-danger"
                    ><a href="#"><i class="material-icons md-16">remove_circle</i> Delete</a>
                  </div>
              </div>
            </div>
          </div>

          <div class="col-xs-4 uPaddingLn">
            <div class="uploaderDropArea">
              <button type="button" 
                      class="btn btn-primary btn-lg uMarginBxs" 
                      data-toggle="modal" 
                      data-target="#myModal">Select files</button> 
                      <p>or drag and drop <br>here to upload</p>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Modal Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>