---
title: Flexbox Examples
layout: prototype
---

<style>
    body {
        margin: 3em;
        background-color: #555;
    }
    .flex-container {
        display: flex;
    }

    .flex-item {
        margin: 1em;
        margin-bottom: 0; 
    }
</style>

<!-- Card List : Version 01 -->
<div class="row">


    <div class="col-xs-12
                col-sm-8
                col-md-6
                col-lg-4">
        <div class="panel panel-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat sequi dolorum maxime ullam impedit recusandae repudiandae, nihil. Sint dicta dolore a odio. Perspiciatis nisi ex ipsa itaque totam, quis labore.
        </div>
    </div>

    <div class="col-xs-12
                col-sm-8
                col-md-6
                col-lg-4">
        <div class="panel panel-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat sequi dolorum maxime ullam impedit recusandae repudiandae, nihil. Sint dicta dolore a odio. Perspiciatis nisi ex ipsa itaque totam, quis labore.
        </div>
    </div>

    <div class="col-xs-12
                col-sm-8
                col-md-6
                col-lg-4">
        <div class="panel panel-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat sequi dolorum maxime ullam impedit recusandae repudiandae, nihil. Sint dicta dolore a odio. Perspiciatis nisi ex ipsa itaque totam, quis labore.
        </div>
    </div>


</div>














<!-- Card List : Version 01 -->
<!-- <ul class="flex-container uiList">
    <li class="flex-item">
        <div class="panel panel-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat sequi dolorum maxime ullam impedit recusandae repudiandae, nihil. Sint dicta dolore a odio. Perspiciatis nisi ex ipsa itaque totam, quis labore.
        </div>
    </li>

    <li class="flex-item">
        <div class="panel panel-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat sequi dolorum maxime ullam impedit recusandae repudiandae, nihil. Sint dicta dolore a odio. Perspiciatis nisi ex ipsa itaque totam, quis labore.
        </div>
    </li>

    <li class="flex-item">
        <div class="panel panel-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat sequi dolorum maxime ullam impedit recusandae repudiandae, nihil. Sint dicta dolore a odio. Perspiciatis nisi ex ipsa itaque totam, quis labore.
        </div>
    </li>

    <li class="flex-item">
        <div class="panel panel-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat sequi dolorum maxime ullam impedit recusandae repudiandae, nihil. Sint dicta dolore a odio. Perspiciatis nisi ex ipsa itaque totam, quis labore.
        </div>
    </li>

</ul>

<ul class="flex-container uiList">
    <li class="flex-item">
        <div class="panel panel-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat sequi dolorum maxime ullam impedit recusandae repudiandae, nihil. Sint dicta dolore a odio. Perspiciatis nisi ex ipsa itaque totam, quis labore.
        </div>
    </li>

    <li class="flex-item">
        <div class="panel panel-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat sequi dolorum maxime ullam impedit recusandae repudiandae, nihil. Sint dicta dolore a odio. Perspiciatis nisi ex ipsa itaque totam, quis labore.
        </div>
    </li>

    <li class="flex-item">
        <div class="panel panel-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat sequi dolorum maxime ullam impedit recusandae repudiandae, nihil. Sint dicta dolore a odio. Perspiciatis nisi ex ipsa itaque totam, quis labore.
        </div>
    </li>

</ul> -->
