<select id="size" placeholder="Select size..." style="width: 100%;" accesskey="w">
    <option>X-Small</option>
    <option>Small</option>
    <option>Medium</option>
    <option selected>Large</option>
    <option>X-Large</option>
    <option>2X-Large</option>
</select>
<script>
    $(document).ready(function () {
        $("#size").kendoComboBox();
    });
</script>