<select id="select" placeholder="Select size..." style="width: 100%;" accesskey="w">
    <option>X-Small</option>
</select>
<script>
    $(document).ready(function () {
        $("#select").kendoDropDownList();
    });
</script>