<div class="form-group">
    <label for="address1">Address line fields</label>
    <input
    type="text" 
    class="form-control"
    id="address1"
    placeholder="Address Line 1"
    autocorrect="off">
</div>