<div class="form-group">
    <label for="creditCard1">Credit card number</label>
    <input 
    type="text"
    class="form-control"
    id="creditCard1"
    exampleInputName1
    pattern="\d*" 
    novalidate 
    autocorrect="off" 
    autocomplete="cc-number">
</div>