<h2>Basic Grid: Bootstrap</h2>
<table class="table table-bordered">
    <thead>
        <tr> 
            <th>Item</th> 
            <th>Cost</th>
        </tr> 
    </thead>
    <tfoot> 
        <tr> 
            <th>Total payable</th> 
            <th>220.00</th>
        </tr> 
    </tfoot> 
    <tbody>
        <tr> 
            <td>Application fee</td> <td>200.00</td>
        </tr> 
        <tr> 
            <td>Administration fee</td> <td>20.00</td>
        </tr> 
    </tbody> 
</table>


<% code("html") do %>
<table class="table table-bordered">
    ...
</table>
<% end %>
