<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Timetable</h3>
  </div>
  <div class="panel-body uPaddingAn">

    <%= partial "prototypes/partials/timetable-grid" %>

  </div>
</div>