<style>
.navbar-selector li.active {
      border-bottom: solid 3px #3484FF;
  }
</style>

<!-- User Selector -->
<nav class="navbar navbar-default navbar-selector navbar-static-top z900">
  <div class="container">
    <div class="clearfix">
      <!-- Student Selector Current -->
      <button type="button" class="navbar-toggle btn-block uMarginAn collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
        <a><i class="material-icons">account_circle</i> Jacalyn Abbot <i class="material-icons">arrow_drop_down</i></a>
      </button>
    </div>
    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
          <li class="active"><a href="#"><i class="material-icons">account_circle</i> Jacalyn Abbot</a></li>
          <li><a href="#"><i class="material-icons">account_circle</i> Aden Abbot</a></li>
          <li><a href="#"><i class="material-icons">account_circle</i> Bashir Abbot</a></li>
          <li><a href="#"><i class="material-icons">account_circle</i> Anna Abbot</a></li>
        </ul>
    </div>
  </div>
</nav>