<!-- Desktop View -->
<div class="row uBorderBottom1 hidden-xs">
    <div class="col-xs-2">
        <span class="bold">Ski trip next year</span>
    </div>
    <div class="col-xs-2">
        30/04/2016 –<br>31/03/2017
    </div>
    <div class="col-xs-1">
        Attending
    </div>
    <div class="col-xs-2">
        Aden Abbot
    </div>
    <div class="col-xs-1">
        $200.00
    </div>
    <div class="col-xs-1">
        $120.00
    </div>
    <div class="col-xs-3">
        <span class="pull-right btnRow">
            <a href="#" class="btn btn-sm btn-default">Attending</a>
            <a href="#" class="btn btn-sm btn-default">Apology</a>
            <a href="#" class="btn btn-sm btn-default">Details</a>
        </span>
    </div>
</div>