<!-- Desktop View -->
<div class="row uBorderBottom1 hidden-xs">
    <div class="col-xs-2">
        <span class="bold">National Gallery of Victoria</span>
    </div>
    <div class="col-xs-2">
        30/04/2016
    </div>
    <div class="col-xs-2">
        10/04/2016
    </div>
    <div class="col-xs-2">
        <i class="material-icons md-16 text-muted">block</i> <span class="text-muted"> Not Attending</span>
    </div>
    <div class="col-xs-2">
        <i class="material-icons md-16 text-muted">block</i> <span class="text-muted"> Not Attending</span>
    </div>
    <div class="col-xs-2">
        <span class="pull-right btnRow">
            <a href="/prototypes/community-portal/excursion/excursions-consent-1.html" class="btn btn-sm btn-default">Open</a>
        </span>
    </div>
</div>

