<div class="uBorderBottom1 visible-xs">
    <div class="row">
        <div class="col-xs-1">
          <i class="material-icons md-18 text-muted">help</i>
        </div>
        <div class="col-xs-8">
            <h3 class="uMarginBxxs uFontSizeL">Zoo Excursion</h3>
            <div class="text-muted">18/07/16</div>
            <div class="text-muted">Awaiting Response</div>
        </div>

        <div class="col-xs-3">
            <a class="pull-right small jsMoreTrigger" target="1">Details</a>
        </div>
        <!-- Hidden section -->
        <div class="row bgLightGrey uDashedTop1 uPaddingBs jsMoreContent" id="info1">
            <div class="col-xs-4 col-xs-offset-1">
                Date:
            </div>
            <div class="col-xs-6">
                18/07/16
            </div>
            <div class="col-xs-4 col-xs-offset-1">
                Status:
            </div>
            <div class="col-xs-6">Awaiting Response</div>
            <div class="col-xs-4 col-xs-offset-1">
                Price:
            </div>
            <div class="col-xs-6">$140.00</div>
            <div class="col-xs-4 col-xs-offset-1">
                Amount Paid:
            </div>
            <div class="col-xs-6">$0.00</div>
            <div class="col-xs-10 col-xs-offset-1 uMarginTm">
                <a href="/prototypes/community-portal/excursion/excursions-consent-1.html" class="btn btn-sml btn-block btn-default">Open</a>
            </div>
        </div>
    </div>
</div>


