<!-- Desktop View -->
<div class="row uBorderBottom1 hidden-xs">
    <div class="col-xs-2">
        <span class="bold">Ski trip next year</span>
    </div>
    <div class="col-xs-2">
        30/04/2016 - 31/03/2017
    </div>
    <div class="col-xs-2">
        10/04/2016
    </div>
    <div class="col-xs-2">
        <i class="material-icons md-16 text-success">check_circle</i> Consent given
    </div>
    <div class="col-xs-2">
        <i class="material-icons md-16 text-success">check_circle</i> Payment Received
    </div>
    <div class="col-xs-2">
        <span class="pull-right btnRow">
            <a href="/prototypes/community-portal/excursion/excursions-consent-1.html" class="btn btn-sm btn-default">Open</a>
        </span>
    </div>
</div>

