<!-- Desktop View -->
<div class="row uBorderBottom1 hidden-xs">
    <div class="col-xs-2">
        <span class="bold">Zoo Excursion</span>
    </div>
    <div class="col-xs-2">
        18/07/16
    </div>
    <div class="col-xs-2">
        10/07/16
    </div>
    <div class="col-xs-2">
        <i class="material-icons md-16 text-muted">help</i> Awaiting Response
    </div>
    <div class="col-xs-2">
        <i class="material-icons md-16 text-muted">help</i> Awaiting Response
    </div>
    <div class="col-xs-2">
        <span class="pull-right btnRow">
            <a href="/prototypes/community-portal/excursion/excursions-consent-1.html" class="btn btn-sm btn-default">Open</a>
        </span>
    </div>
</div>

