<div class="panel thumbnail-grid panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Immunisations</h3>
    </div>
    <div class="panel-body" style="background-color: #f5f5f5">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="thumbnail thumbnail-active uPaddingAs clearfix">
                    <div class="row">
                        <div class="col-xs-9"> 
                            <label class="uMarginBxs"><input type="checkbox" checked="checked"> Whooping Cough (Pertussis)</label>
                            <div class="text-muted">Date of last injection</div>
                            <%= partial "partials/form-controls/date-picker-no-label" %>
                        </div>
                        <div class="col-xs-3">
                            <a href="#" class="pull-right">Save</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="thumbnail uPaddingAs clearfix">
                    <div class="row">
                        <div class="col-xs-9"> 
                            <label class="uMarginBxs"><i class="material-icons text-success">check_circle</i> Hepatitis B</label>
                            <div class="text-muted">Date of last injection</div>
                            <%= partial "partials/form-controls/date-picker-no-label-dis" %>
                        </div>
                        <div class="col-xs-3">
                            <a href="#" class="pull-right">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h3 class="uFontSizeM">Add other immunisations:</h3>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="uPaddingAxxs clearfix">
                    <a href="#" class="pull-left uFontSizeM uMarginAn"><i class="material-icons md-14">add_circle</i> Hepatitis B</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="uPaddingAxxs clearfix">
                    <a href="#" class="pull-left uFontSizeM uMarginAn"><i class="material-icons md-14">add_circle</i> Diphtheria</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="uPaddingAxxs clearfix">
                    <a href="#" class="pull-left uFontSizeM uMarginAn"><i class="material-icons md-14">add_circle</i> Meningococcal C</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="uPaddingAxxs clearfix">
                    <a href="#" class="pull-left uFontSizeM uMarginAn"><i class="material-icons md-14">add_circle</i> HIB</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="uPaddingAxxs clearfix">
                    <a href="#" class="pull-left uFontSizeM uMarginAn"><i class="material-icons md-14">add_circle</i> Measles</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="uPaddingAxxs clearfix">
                    <a href="#" class="pull-left uFontSizeM uMarginAn"><i class="material-icons md-14">add_circle</i> Mumps</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="uPaddingAxxs clearfix">
                    <a href="#" class="pull-left uFontSizeM uMarginAn"><i class="material-icons md-14">add_circle</i> Chicken Pox</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="uPaddingAxxs clearfix">
                    <a href="#" class="pull-left uFontSizeM uMarginAn"><i class="material-icons md-14">add_circle</i> Influenza</a>
                </div>
            </div>
        </div>



    </div>
</div>