<div class="panel thumbnail-grid panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Immunisations</h3>
    </div>
    <div class="panel-body">
        
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail thumbnail-active uPaddingAs clearfix">
                <div class="row">
                    <div class="col-xs-9"> 
                        <label class="uMarginBxs"><input type="checkbox" checked="checked"> Whooping Cough (Pertussis)</label>
                        <div class="text-muted">Date of last injection</div>
                        <%= partial "partials/form-controls/date-picker-no-label" %>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="pull-right">Save</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail uPaddingAs clearfix">
                <div class="row">
                    <div class="col-xs-9"> 
                        <label class="uMarginBxs"><input type="checkbox" disabled="disabled"> Hepatitis B</label>
                        <div class="text-muted">No records</div>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="pull-right">Edit</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail uPaddingAs clearfix">
                <div class="row">
                    <div class="col-xs-9"> 
                        <label class="uMarginBxs"><i class="material-icons text-success">check_circle</i> Hepatitis B</label>
                        <div class="text-muted">Date of last injection</div>
                        <%= partial "partials/form-controls/date-picker-no-label-dis" %>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="pull-right">Edit</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail uPaddingAs clearfix">
                <div class="row">
                    <div class="col-xs-9">
                        <label class="uMarginBxs"><input type="checkbox" disabled="disabled">  Diphtheria</label>
                        <div class="text-muted">No records</div>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="pull-right">Edit</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail uPaddingAs clearfix">
                <div class="row">
                    <div class="col-xs-9">
                        <label class="uMarginBxs"><input type="checkbox" disabled="disabled">  Meningococcal C</label>
                        <div class="text-muted">No records</div>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="pull-right">Edit</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail uPaddingAs clearfix">
                <div class="row">
                    <div class="col-xs-9">
                        <label class="uMarginBxs"><input type="checkbox" disabled="disabled">  HIB</label>
                        <div class="text-muted">No records</div>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="pull-right">Edit</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail uPaddingAs clearfix">
                <div class="row">
                    <div class="col-xs-9">
                        <label class="uMarginBxs"><input type="checkbox" disabled="disabled">  Measles</label>
                        <div class="text-muted">No records</div>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="pull-right">Edit</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail uPaddingAs clearfix">
                <div class="row">
                    <div class="col-xs-9">
                        <label class="uMarginBxs"><input type="checkbox" disabled="disabled">  Mumps</label>
                        <div class="text-muted">No records</div>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="pull-right">Edit</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail uPaddingAs clearfix">
                <div class="row">
                    <div class="col-xs-9">
                        <label class="uMarginBxs"><input type="checkbox" disabled="disabled">  Chicken Pox</label>
                        <div class="text-muted">No records</div>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="pull-right">Edit</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail uPaddingAs clearfix">
                <div class="row">
                    <div class="col-xs-9">
                        <label class="uMarginBxs"><input type="checkbox" disabled="disabled">  Influenza</label>
                        <div class="text-muted">No records</div>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="pull-right">Edit</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail uPaddingAs clearfix">
                <div class="row">
                    <div class="col-xs-9">
                        <label class="uMarginBxs"><input type="checkbox" disabled="disabled">  HPV</label>
                        <div class="text-muted">No records</div>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="pull-right">Edit</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>