<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Medical Contacts</h3>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <h4>Doctor one</h4>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="">Name</label>
                    <input class="form-control" type="text" value="Doctor Sean Chapman">
                </div>
                <div class="form-group">
                    <label for="">Relationship</label>
                    <input class="form-control" type="text" value="Aunty"> 
                </div>

                <div class="form-group">
                    <legend class="label-style">Address:</legend>
                    <label for="" class="sr-only">Street:</label>
                    <input class="form-control" type="text" value="1/22 Barrow Street">

                    <label for="" class="sr-only">Suburb:</label>
                    <input class="form-control" type="text" value="Brunswick" placeholder="Suburb">

                    <label for="" class="sr-only">State:</label>
                    <input class="form-control" type="text" value="Victoria" placeholder="State">

                    <label for="" class="sr-only">Postcode:</label>
                    <input class="form-control" id="" type="text" value="3056" placeholder="Postcode">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="">Phone</label>
                    <input class="form-control" type="text" value="(02) 3984 7575">
                </div>
                <div class="form-group">
                    <label for="">Phone 2</label>
                    <input class="form-control" type="text" value="(02) 3984 7575"> 
                </div>
            </div>
        </div>
    </div>
</div>