<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Medications</h3>
    </div>

    <div class="panel-body uPaddingAm bgMuted">

        <div class="row thumbnail uPaddingAs uMarginHs">
            <div class="col-xs-12">
                <div class="uMarginBs clearfix">
                    <h3 class="pull-left">Alvesco</h3> <button href="#" class="pull-left btn btn-sm btn-primary uMarginLxs">Edit</button>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="form-group">
                    <label>
                        <input type="checkbox" checked="checked" disabled="disabled" class="hidden"> <i class="material-icons text-success md-18">check_circle</i> Can use medication
                    </label>
                </div>
                <div class="form-group">
                    <label>When</label>            
                    <select class="form-control" disabled="disabled">
                        <option value="">Relief</option>
                        <option value="">Prevention</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Administration Method:</label>            
                    <select class="form-control" disabled="disabled">
                        <option value="">Oral</option>
                        <option value="">Injection</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Expires:</label>
                    <input id="datepicker-blank" class="fullWidth datepicker" value="" disabled="disabled" />
                </div>
            </div>
            <div class="col-xs-12 col-md-8 col-md-offset-1">
                
                <div class="form-group">
                    <label for="">Medication details:</label>
                    <textarea class="form-control" id="" cols="" rows="4" disabled="disabled">Alvesco (ciclesonide) is a man-made corticosteroid. It prevents the release of substances in the body that cause inflammation.</textarea>
                </div>
                <div class="form-group pull-left uMarginRs">
                    <a href="#" class="btn btn-muted" disabled="disabled"><i class="material-icons md-18">add_circle</i> Add Dosage Information</a>
                </div>
                <div class="form-group hidden">
                    <label for="">Dosage:</label>
                    <textarea class="form-control" id="" cols="30" rows="3"></textarea>
                </div>
                <div class="form-group hidden">
                    <label for="">Other Details:</label>
                    <textarea class="form-control" id="" cols="30" rows="3"></textarea>
                </div> 
                          
            </div>
            <div class="col-xs-12 uDashedTop1">
                    <label for="">Associated Medical Conditions:  </label>
                    <a tabindex="0" class="btn btn-default" role="button" data-toggle="popover" data-trigger="focus" title="Asthma" data-content="Ciclesonide is a glucocorticoid used to treat asthma and allergic rhinitis. It is marketed under the brand names Alvesco for asthma and Omnaris, Omniair, and Zetonna for hay fever. Side effects of the medication include headache, nosebleeds, and inflammation of the nose and throat linings.">Asthma</a>
                    <a tabindex="0" class="btn btn-default" role="button" data-toggle="popover" data-trigger="focus" title="Flutiform" data-content="Ciclesonide is a glucocorticoid used to treat asthma and allergic rhinitis. It is marketed under the brand names Alvesco for asthma and Omnaris, Omniair, and Zetonna for hay fever. Side effects of the medication include headache, nosebleeds, and inflammation of the nose and throat linings.">Migraine/headaches</a>
            </div>
        </div>
        <div class="row thumbnail uPaddingAs uMarginHs bgActive">
            <div class="col-xs-12">
                <div class="uMarginBs clearfix">
                    <h3 class="pull-left">Breo</h3> <button href="#" class="pull-left btn btn-sm btn-success uMarginLxs">Save</button>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="form-group">
                    <label>
                        <input type="checkbox" checked="checked" > <i class="material-icons text-success md-18 hidden">check_circle</i> Can use medication
                    </label>
                </div>

                <div class="form-group">
                    <label>When</label>            
                    <select class="form-control">
                        <option value="">Relief</option>
                        <option value="">Prevention</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Administration Method:</label>            
                    <select class="form-control">
                        <option value="">Oral</option>
                        <option value="">Injection</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Expires:</label>
                    <input id="datepicker-blank" class="fullWidth datepicker" value="" />
                </div>
            </div>
            <div class="col-xs-12 col-md-8 col-md-offset-1">
                
                <div class="form-group">
                    <label for="">Details:</label>
                    <textarea class="form-control" id="" cols="" rows="4">Breo Ellipta inhalation powder contains a combination of fluticasone and vilanterol. Fluticasone is a steroid. It prevents the release of substances in the body that cause inflammation. Vilanterol is a bronchodilator. It works by relaxing muscles in the airways to improve breathing.</textarea>
                    <a href="#" class="btn btn-muted hidden"><i class="material-icons md-18">add_circle</i> Add details</a>
                </div>
                <div class="form-group">
                    <label for="">Dosage information:</label>
                    <textarea class="form-control" id="" cols="" rows="4">Breo Ellipta is a once-daily combination medicine used in adults with asthma or COPD (chronic obstructive pulmonary disease), to improve symptoms and prevent bronchospasm or asthma attacks.</textarea>
                    <a href="#" class="btn btn-muted hidden" disabled="disabled"><i class="material-icons md-18">add_circle</i> Add Dosage Information</a>
                </div>
                          
            </div>
            <div class="col-xs-12 uDashedTop1">
                    <label for="">Associated Medical Conditions: </label>
                    <a class="btn btn-default">Asthma</a>
                    <a  class="btn btn-default">Migraine/headaches</a>
            </div>
        </div>
        <h3 class="uFontSizeM uMarginTl">Add other medications:</h3>
        <div class="row">

            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="uPaddingAxxs clearfix">
                    <a href="#" class="pull-left uFontSizeM uMarginAn"><i class="material-icons md-14">add_circle</i> Diabetes</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="uPaddingAxxs clearfix">
                    <a href="#" class="pull-left uFontSizeM uMarginAn"><i class="material-icons md-14">add_circle</i> Whooping cough</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="uPaddingAxxs clearfix">
                    <a href="#" class="pull-left uFontSizeM uMarginAn"><i class="material-icons md-14">add_circle</i> Diet</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="uPaddingAxxs clearfix">
                    <a href="#" class="pull-left uFontSizeM uMarginAn"><i class="material-icons md-14">add_circle</i> Enuresis (bed wetting)</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="uPaddingAxxs clearfix">
                    <a href="#" class="pull-left uFontSizeM uMarginAn"><i class="material-icons md-14">add_circle</i> Epilepsy/convulsions</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="uPaddingAxxs clearfix">
                    <a href="#" class="pull-left uFontSizeM uMarginAn"><i class="material-icons md-14">add_circle</i> Epistaxis (nose bleeds)</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="uPaddingAxxs clearfix">
                    <a href="#" class="pull-left uFontSizeM uMarginAn"><i class="material-icons md-14">add_circle</i> Heart condition</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="uPaddingAxxs clearfix">
                    <a href="#" class="pull-left uFontSizeM uMarginAn"><i class="material-icons md-14">add_circle</i> Travel sickness</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="uPaddingAxxs clearfix">
                    <a href="#" class="pull-left uFontSizeM uMarginAn"><i class="material-icons md-14">add_circle</i> Eyes/sight</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="uPaddingAxxs clearfix">
                    <a href="#" class="pull-left uFontSizeM uMarginAn"><i class="material-icons md-14">add_circle</i> Hearing</a>
                </div>
            </div>

            

        </div>
    </div>
</div>

<script>
    $('a').popover();

    $(document).ready(function() {
        // create DatePicker from input HTML element
        $(".datepicker").kendoDatePicker();
    });
</script>