
<div class="panel panel-default">

    <!-- Panel Heading -->
    <div class="panel-heading">
        <h3 class="panel-title"><i class="material-icons">flag</i> Action Centre</h3>
        
        <a href="#" class="pull-right uMarginLs panel-heading-link">
            <i class="material-icons md-16">settings</i> Settings
        </a>

    </div>


    <!-- Panel Body -->
    <div class="panel-body uPaddingAn">
        <%= partial "prototypes/dashboard/partials/action-centre-grid" %>
    </div>


    <!-- Panel Footer -->
    <div class="panel-footer">
        &nbsp;
    </div>

</div>