<td class="text-center">
<a href="#">
    <i class="material-icons md-16 colorBlue">email</i>
</a>
</td>
<td class="text-center">
<a href="#">
    <i class="material-icons md-16 colorBlue">phone_android</i>
</a>
</td>
<td class="text-center">
<a href="#">
    <i class="material-icons md-16 colorBlue">brightness_3</i>
</a>
</td>