<div class="panel panel-default">

    <!-- Panel Body -->
    <div class="panel-heading">
        <h3 class="panel-title"><i class="material-icons">group</i> Classes</h3>
        <span class="pull-right">
            <a href="#" class="panel-heading-link"><i class="material-icons md-16">settings</i> Settings</a>
        </span>
    </div>

    <!-- Panel Body -->
    <div class="panel-body uPaddingAn">
        <%= partial "prototypes/dashboard/partials/classes-grid" %>
    </div>

    <div class="panel-footer">
        <a href="#">
            <i class="material-icons md-16">description</i> Run report
        </a>
    </div>


</div>