<style>
.btn-sm {
        padding: 5px 10px;
}

.btn-default .badge {
    background-color: #999;
    font-size: 12px;
}
</style>

<table class="table md-14">
    <thead>
        <tr> 
            <th>Team</th>
            <th>Event</th>
            <th>Date</th>
            <th>Team Status</th>
            <th>Notes</th>
            <th></th>
        </tr> 
    </thead>

    <tbody>
        <tr> 
            <td>Australian Rules U18 All</td>
            <td>Match</td>
            <td>06/10/14 <span class="text-muted uMarginLxs">10:00am</span></td>
            <td><em class="text-success bold">Confirmed</em> <a href="#" class="linkStyle">Edit</a></td>
            <td><a href="#" class="btn btn-sm btn-default btn-block"> <span class="badge uMarginRxxs">4</span> Add/Edit</a></td>
            <td><%= partial "partials/navigation/more-menu" %></td>
        </tr>

        <tr> 
            <td>Australian Rules U18 All</td>
            <td>Match</td>
            <td>06/10/14 <span class="text-muted uMarginLxs">11:00am</span></td>
            <td><em class="text-success bold">Confirmed</em> <a href="#" class="linkStyle">Edit</a></td>
            <td><a href="#" class="btn btn-sm btn-default btn-block"> <span class="badge uMarginRxxs">1</span> Add/Edit</a></td>
            <td><%= partial "partials/navigation/more-menu" %></td>
        </tr>

        <tr> 
            <td>Australian Rules U18 All</td>
            <td>Practice</td>
            <td>06/10/14 <span class="text-muted uMarginLxs">6:00pm</span></td>
            <td><button href="" class="btn btn-sm btn-block btn-default">Confirm</button></td>
            <td><a href="#" class="btn btn-sm btn-default btn-block"> <span class="badge uMarginRxxs">2</span> Add/Edit</a></td>
            <td><%= partial "partials/navigation/more-menu" %></td>
        </tr>

        <tr> 
            <td>Australian Rules U18 All</td>
            <td>Practice</td>
            <td>06/10/14 <span class="text-muted uMarginLxs">6:00pm</span></td>
            <td><button class="btn btn-sm btn-block btn-default">Confirm</button></td>
            <td><a href="#" class="btn btn-sm btn-default btn-block">Add/Edit </a></td>
            <td><%= partial "partials/navigation/more-menu" %></td>
        </tr>

    </tbody> 
</table>
