
<div class="panel panel-default">

    <!-- Panel Heading -->
    <div class="panel-heading clearfix">
        <h3 class="panel-title"><i class="material-icons">access_time</i> Timetable</h3>
        <div class="pull-right">
            <%= partial "partials/controls/datepicker-inline" %>
            <a href="#" class="uMarginLs panel-heading-link hidden">
                <i class="material-icons md-16">settings</i> Settings
            </a>
        </div>
    </div>


    <!-- Panel Body -->
    <div class="panel-body uPaddingAn">
        <%= partial "prototypes/dashboard/partials/timetable-grid" %>
    </div>


    <!-- Panel Footer -->
    <div class="panel-footer">
        <div class="clearfix">
            <a href="#">
                <i class="material-icons md-16">description</i> Run report
            </a>
            <a href="#" class="pull-right">
                Show all unmarked <span class="uMarginLxxs badge">42</span>
            </a>
        </div>
    </div>

</div>