<div class="row">
    <div class="col-xs-8 col-md-8">
        <h2>Modules and components</h2>
        <div class="title_meta">
            <span class="author">Posted by</span>
            <span class="host">
                <a class="js_domain_linkout" href="#">Thomas Green</a>
            </span>
            on
            <span class="meta_date">21/06/2014</span>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi impedit numquam ex, dolor repellat accusantium temporibus hic rem, sunt eligendi, perferendis quis eum architecto, voluptates inventore omnis. Facere, laborum, veniam? <a class="underline" href="#">Read more</a></p>

    </div>

  <div class="col-xs-4 col-md-4">
    <img src="http://placehold.it/350x200" alt="" class="img-responsive">
  </div>
</div>