<div class="form-group">
    <label for="exampleInputEmail1">Standard Select (Chosen)</label>
    <select class="chosen-select fullWidth">
      <option>Options</option>
      <option>Option 2</option>
      <option>Option 3</option>
    </select>
</div>

<script type="text/javascript">

    $('.chosen-select').chosen({
        no_results_text: "No results for"
    });

</script>