<div class="form-group">
    <label for="exampleInputEmail1">Multiselect (Chosen)</label>
    <select multiple data-placeholder="Select an option" class="chosen-select fullWidth">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
</div>

<script type="text/javascript">

    $('.chosen-select').chosen({
        no_results_text: "No results for"
    });

</script>