<div class="form-group">
    <label for="exampleInputEmail1">Date Picker (Kendo)</label>
    <input id="datepicker" class="fullWidth" value="10/10/2020" />
</div>

<script>
    $(document).ready(function() {
        // create DatePicker from input HTML element
        $("#datepicker").kendoDatePicker();
    });
</script>