<div class="form-group">
    <label for="exampleInputEmail1">Date Picker (K)</label>
    <input id="datepicker-blank" class="fullWidth" value="" />
</div>

<script>
    $(document).ready(function() {
        // create DatePicker from input HTML element
        $("#datepicker-blank").kendoDatePicker();
    });
</script>