<div class="form-group">
    <label for="exampleInputEmail1">Date Time Picker (Kendo)</label>
    <input id="datetimepicker" class="fullWidth" value="10/10/2020" />
</div>

<script>
    $(document).ready(function () {
        // create DateTimePicker from input HTML element
        $("#datetimepicker").kendoDateTimePicker({
            value:new Date()
        });
    });
</script>