<div id="window">

    <!-- Controls -->
    <div class="form-horizontal form-widgets col-sm-12 labelLeft">
        <div class="form-group">
            <label class="control-label col-xs-4" for="type">Order Type:</label>
            <div class="col-xs-8">
                <input class="form-control" id="type" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-4" for="requisitionNo">Requisition No.:</label>
            <div class="col-xs-8">
                <select id="requisitionNo" accesskey="w">
                    <option>Select</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-4" for="urgency">Urgency:</label>
            <div class="col-xs-8">
                <select id="urgency" accesskey="w">
                    <option>Select</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-4" for="notify">Notify by:</label>
            <div class="col-xs-8">
                <select id="notify" accesskey="w">
                    <option>Select</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-4 text-right">Amendments:</label>
        <div class="col-xs-8">
            <label for="print">
                <input id="print" type="checkbox">
                Print Prices
            </label>
            <br>
            <label for="incTax">
                <input id="incTax" type="checkbox">
                Prices inc Tax
            </label>
        </div>
    </div>
    
    <!-- Buttons -->
    <div class="pull-right">
        <button type="button" class="btn btn-lg btn-primary">
            Save
        </button>
        <button type="button" class="btn btn-lg btn-default">
            Cancel
        </button>
    </div>

</div>