<div id="window">
    
    <!-- Column 1 -->
    <div class="col-xs-4">
        <div class="form-group">
            <label class="control-label" for="file">File type:</label>
            <input class="form-control" id="file" />
        </div>
        <div class="form-group">
            <label class="control-label" for="staff">Staff code:</label>
            <select id="staff" accesskey="w">
                <option>Select</option>
            </select>
        </div>
        <div class="form-group">
            <label for="campus">Campus:</label>
            <select id="campus" style="width: 100%;" accesskey="w">
                <option>Select</option>
            </select>
        </div>
    </div>
    
    <!-- Column 2 -->
    <div class="col-xs-4">   
        <div class="form-group">
            <label for="description">Description:</label>
            <select id="description" accesskey="w">
                <option>Select</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="assessment">Assessment Code:</label>
            <input class="form-control" id="assessment" />
        </div>
        <div class="form-group">
            <label class="control-label" for="term">Year &amp; term:</label>
            <input class="form-control" id="term" />
        </div>
    </div>
    
    <!-- Column 3 -->
    <div class="col-xs-4">
        <div class="form-group">
            <label class="control-label" for="staffid">Staff ID:</label>
            <select id="staffid" accesskey="w">
                <option>Select</option>
            </select>
        </div>

        <div class="form-group">
            <label class="control-label" for="classcode">Class code:</label>
            <select id="classcode" accesskey="w">
                <option>Select</option>
            </select>
        </div>

        <div class="form-group">
            <label class="control-label" for="yearlevel">Year level:</label>
            <select id="yearlevel" accesskey="w">
                <option>Select</option>
            </select>
        </div>
    </div>

    <!-- Buttons -->
    <div class="buttons-wrap uMarginTl pull-right">
        <button class="btn btn-lg btn-primary">Search</button>
        <button class="btn btn-lg btn-default">Cancel</button>
    </div>
</div>