<h3 class="uBorderTop2">Panel with overlay</h3>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Panel title</h3>
    </div>

    <div class="panel-body contain loading">
        <div class="form-group uMarginAxxl">
            <label for="">Can't touch this..</label>
            <input class="form-control">
        </div>
    </div>
</div>