<table class="table" style="border-top: solid 1px #ccc;">
    <caption>Payment details</caption>
    <tfoot> 
        <th>Total cost</th>
        <th></th>
        <th></th> 
        <th>$105.00</th> 
    </tfoot> 
    <tbody>
        <tr> 
            <th>Ticket type</th>
            <th>Quantity</th>
            <th>Price</th> 
            <th>Total</th> 
        </tr> 
        <tr> 
            <td>Student</td>
            <td>1</td>
            <td>20</td> 
            <td>20</td> 
        </tr> 
        <tr> 
            <td>Adult</td>
            <td>2</td>
            <td>30</td> 
            <td>60</td> 
        </tr>
        <tr> 
            <td>Concession</td>
            <td>1</td>
            <td>25</td> 
            <td>25</td> 
        </tr> 

    </tbody> 
</table>