<table class="table uMarginBn">
    <caption>Payment details</caption>
    <tfoot>
        <tr>
            <th>Total</th> 
            <th class="text-right">$400.00</th>
        </tr>
    </tfoot>
    <tbody>
        <tr>
            <td>Application fee</td> 
            <td class="text-right">300.00</td>
        </tr> 
        <tr>
            <td>Administration fee</td> 
            <td class="text-right">20.00</td>
        </tr> 
        <tr>
            <td>Transaction fee</td> 
            <td class="text-right">30.00</td>
        </tr>
        <tr>
            <td>Extra charges</td> 
            <td class="text-right">12.00</td>
        </tr>
    </tbody> 
</table>