
<!-- card list item -->
<li class="flex-card-listitem">
    <!-- card module -->
    <div class="flex-card">
        <!-- image container -->
        <div class="flex-card-image">
            <img src="http://placehold.it/350x150" class="img-responsive" />
        </div>
        <!-- content container -->
        <div class="flex-card-content">
            <h3 class="flex-card-heading">First</h3>
            <p>The third car with longer text. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, molestias? Sequi cum consectetur unde quod odit modi numquam, quidem? Eum distinctio odio mollitia quod quo esse officiis nisi. </p>
            <a href="#" class="flex-card-button btn btn-default">Button</a>
        </div>
    </div>
</li>