
<!-- card list item -->
<li class="flex-card-listitem">
    <!-- card module -->
    <div class="flex-card">
        <!-- image container -->
        <div class="flex-card-image">
            <img src="http://placehold.it/350x150" class="img-responsive" />
        </div>
        <!-- content container -->
        <div class="flex-card-content">
            <h3 class="flex-card-heading">First</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus ipsam eligendi velit architecto libero labore, quas rerum, dolorum eum. Necessitatibus in dolorum aliquid, fugit quidem, commodi explicabo laboriosam est perspiciatis, nam quaerat expedita nemo. Laborum, molestias, quae.</p>
            <a href="#" class="flex-card-button btn btn-default">Button</a>
        </div>
    </div>
</li>