<section class="overview">
    <p class="intro lead">The Synergetic Design Guidelines is a document of standards and reusable patterns. It's purpose is to help developers make consistent design decisions.</p>
</section>