<div class="row">

    <div class="col-xs-10 uMarginHl lead">
        <h2 calss="uBorderBottom1">HTML/CSS Prototypes</h2>
        <hr>
        <h3>Synweb Dashboard V67</h3>
        • <%= link_to 'Synweb Dashboard', '/prototypes/dashboard.html' %><br>
        • <%= link_to 'PTI Notes', '/prototypes/dashboard/notes.html' %><br>
        </p>
        <hr>
        <h3>Community Portal V68</h3>
        <p>• <%= link_to 'Responsive Portal', '/prototypes/community-portal/my-details/medical.html' %></p>
            
    </div>

</div>