<!--Section 03-->
<section class="container panel">
	  	<h2>Radios and Checkboxes</h2>
		<div class="sectionCollapsible">
            <div class="col-xs-12 col-xs-offset-3">   

    			<!-- Stacked Checkboxes -->
    			<div class="row">
    				<fieldset class="col-xs-12 checkboxGroup1 radioGroupStacked">
    					<legend>Staked Checkbox Group</legend>
    					<div class="checkbox">
    					  <label>
    					    <input type="checkbox" value="" checked>
    					    Option one
    					  </label>
    					</div>
    					<div class="checkbox">
    					  <label>
    					    <input type="checkbox" value="">
    					    Option two
    					  </label>
    					</div>
    					<div class="checkbox">
    					  <label>
    					    <input type="checkbox" value="">
    					    Option three
    					  </label>
    					</div>
                    </fieldset>
    			</div>

    			<!-- Stacked Radios -->
    			<div class="row">
    				<fieldset class="col-xs-12 radioGroupStacked required-field">
    					<legend>Stacked Radio Group</legend>
    				    <div class="radio">
    				      <label>
    				        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
    				        Radio option one
    				      </label>
    				    </div>

    				    <div class="radio">
    				      <label>
    				        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
    				        Radio option two
    				      </label>
    				    </div>

    				    <div class="radio">
    				      <label>
    				        <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" >
    				        Radio option three
    				      </label>
    				    </div>
    				</fieldset>
    			</div>

    			<!-- Inline Checkboxes -->
    			<div class="row">
    				<fieldset class="checkboxGroupInline">
    					<legend>Inline Checkbox Group</legend>
						<label class="checkbox-inline">
						  <input type="checkbox" id="inlineCheckbox1" value="option1" checked>Checkbox 1
						</label>
						<label class="checkbox-inline">
						  <input type="checkbox" id="inlineCheckbox2" value="option2">Checkbox 2
						</label>
						<label class="checkbox-inline">
						  <input type="checkbox" id="inlineCheckbox3" value="option3">Checkbox 3
						</label>
    				</fieldset>
    			</div>

    			<!-- Inline Radios -->
    			<div class="row">
    				<fieldset class="radioGroupInline">
    					<legend>Inline Radio Group</legend>
						<label class="radio-inline">
						  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked	>Radio 1
						</label>
						<label class="radio-inline">
						  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">Radio 2
						</label>
						<label class="radio-inline">
						  <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Radio 3
						</label>
    				</fieldset>
    			</div>
            </div>
		</div>
</section>