<section class="container panel">
<h2>Select controls</h2>
    <div class="sectionCollapsible">
        
        <!-- Select control 1 -->
    	<div class="form-group required-field">
    		
    		<div class="col-xs-2 col-xs-offset-3">
                <label for="inputPassword3" class="control-label">Select</label>
    			<select class="form-control">
    				<option value="Select">Select</option>
    			</select>
    		</div>
    	</div>

    	<!-- Select control 2 -->
        <div class="form-group">
    		<div class="col-xs-4 col-xs-offset-3">
                <label for="inputPassword3" class="control-label">Select</label>
    			<select class="form-control">
    			<option value="Select">Select</option>
    			</select>
    		</div>
    	</div>
            
        <!-- Select control 3 -->
    	<div class="form-group">
    		
    		<div class="col-xs-6 col-xs-offset-3">
                <label for="inputPassword3" class="control-label">Select</label>
    			<select class="form-control">
                    <option value="Select">Select</option>
    			</select>
    		</div>
    	</div>
        
        <!-- Group divider -->
    	<div class="groupDivider"></div>

    	<!-- Date picker -->
    	<div class="form-group required-field">
    		<div class="col-xs-3 col-xs-offset-3">
                <label for="inputPassword3" class="control-label">Date Picker</label>
    			<input id="datepicker" value="10/10/2011" style="width: 100%" />
    		</div>
    	</div>

    	<!-- DateTime picker -->
    	<div class="form-group required-field">
    		<div class="col-xs-3 col-xs-offset-3">
                <label for="inputPassword3" class="control-label">Date Time Picker</label>
    			<input id="datetimepicker" style="width: 100%;" />
    		</div>
    	</div>

    </div>
</section>