<!--Section-->
<section class="container panel">
    <h2>Text inputs</h2>
    <div class="sectionCollapsible row">
  	

    <div class="col-xs-6 col-xs-offset-3">
        <!-- Control 1 -->
        <div class="form-group required-field">
            <div class="col-xs-3">
                <label for="textInput1" class="control-label">Text input</label>
                <input type="text" class="form-control" id="textInput1">
            </div>
        </div>

        <!-- Control 2 -->
        <div class="form-group">
            <div class="col-xs-6">
                <label for="textInput2" class="control-label">Text input</label>
                <input type="text" class="form-control" id="textInput2">
            </div>
        </div>

        <!-- Control 3 -->
        <div class="form-group">
            <div class="col-xs-9">
                <label for="textInput2" class="control-label">Text input</label>
                <input type="text" class="form-control" id="textInput2">
            </div>
        </div>

        <!-- Control 4 -->
        <div class="form-group">
            <div class="col-xs-12">
                <label for="textInput3" class="control-label">Text input</label>
                <input type="text" class="form-control" id="textInput3">
            </div>
        </div>
    </div>


    </div>
</section>