<section class="container panel">
	<h2>Text areas</h2>
	<div class="sectionCollapsible">
		<div class="form-group">
	    	<div class="col-xs-6 col-xs-offset-3">
                <label for="inputPassword3" class="control-label">Text Area Small</label>
	      	    <textarea class="form-control" rows="3"></textarea>
	    	</div>
	  	</div>

	  	<div class="form-group">
	    	<div class="col-xs-6 col-xs-offset-3">
                <label for="inputPassword3" class="control-label">Text Area Medium</label>
    	      	<textarea class="form-control" rows="6"></textarea>
	    	</div>
	  	</div>

	  	<div class="form-group">
	    	<div class="col-xs-6 col-xs-offset-3">
                <label for="inputPassword3" class="control-label">Text Area Large</label>
	      		<textarea class="form-control" rows="9"></textarea>
	    	</div>
	  	</div>
	</div>
</section>