<section class="panel historyModule">
    <div class="panel-header">
        <h2>History</h2>
    </div>
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row historyModuleItem">
                <div class="col-xs-1">
                    <i class="material-icons">access_time</i>
                </div> 
                <div class="col-xs-11">
                    <p>You submitted an online enquiry for Harry Peterson on July 11, 2015.</p>
                </div>
            </div>
            <div class="row historyModuleItem">
                <div class="col-xs-1">
                    <i class="material-icons">access_time</i>
                </div>
                <div class="col-xs-11">
                    <p>You submitted an online enquiry for Sally Peterson on July 12, 2015.</p>
                </div>
            </div>
            <div class="row historyModuleItem">
                <div class="col-xs-1">
                    <i class="material-icons">access_time</i>
                </div>
               <div class="col-xs-11">
                    <p>You submitted an online application for Harry Peterson on July 14, 2015.</p>
                </div>
            </div>
        </div>
    </div>
</section>
