<aside class="sideSection">
    
    <div class="asideModule">
        <div class="clearfix">
            <h2 class="pull-left">New applications</h2>
            <span class="pull-left"><button class="btn btn-primary" href="#">Apply now</button></span>
        </div>
        <p>For new students ready to apply,  start a new application form.</p>
    </div>

    <div class="asideModule uBorderTop">
        <div class="clearfix">
            <h2 class="pull-left">Your details</h2>
            <span class="pull-right"><a href="#">Update details</a></span>
        </div>
        <p><strong>Name:</strong><br>  Thomas Peterson</p>
        <p><strong>Email:</strong><br>  Thomaspeterson@gmail.com</p>
        <p><strong>Address: </strong><br> 121 Pacific St, Corindi Beach, NSW, Australia.</p>
        <p><strong>Postal Address: </strong><br> PO BOX 44 Jln Dermawan, Singapore</p>
    </div>

    <div class="asideModule uBorderTop">
        <div class="alert alert-info" role="alert">
            <h2>Contact us</h2>
            <p>For general enquires please call us or visit our campus.</p>
            <p><strong>Phone:</strong>  Thomas Peterson</p>
            <p><strong>Address:</strong>  Thomaspeterson@gmail.com</p>
        </div>
    </div>

</aside>

