<ul class="flexList uBorderTop">
    <li class="flexListItem">
        <div class="flexListContent">
            <h3>Gita Peterson</h3>
            <p class="reference">Ref. 564987</p>
            <a class="btn btn-primary" href="index.html" role="button">Resume application</a>
        </div>
    </li>
    <li class="flexListItem">
        <div class="flexListContent">
            <h4>Status:</h4>
            <p><span class="text-warning">Pending fee payment.</span> <br> <span="statusText">Once the application fee is paid this application will be submitted.</p>
        </div>
    </li>
    <li class="flexListItem">
        <div class="flexListContent">
            <h4>Application fee:</h4> 
            <p class="text-danger">Requires payment.</p>
            <a class="btn btn-default" href="payment.html" role="button">Pay application fee</a>
        </div>
    </li>
    <li class="flexListItem">
        <div class="flexListContent">
            <h4>Documents:</h4>
            <ul class="uiList">
                <li><i class="zmdi zmdi-check-circle zmdi-hc-lg uMarginRxxs iconGreen"></i> Birth certificate</li>
                <li><i class="zmdi zmdi-alert-circle zmdi-hc-lg uMarginRxxs iconRed"></i> School report</li>
                <li class="truncate"><i class="zmdi zmdi-time zmdi-hc-lg uMarginRxxs iconBlue"></i> ESL Core Program Certificate (ECPC)</li>
                <li><i class="zmdi zmdi-help-outline zmdi-hc-lg uMarginRxxs iconGrey"></i> Medical record</li>
            </ul>
            <a class="btn btn-default" href="#" role="button">Make changes</a>
        </div>
    </li>
</ul>

