<section class="panel flexTile dashboardQuickLinks">
    <div class="panel-header">
        <h2>Quick links</h2>
    </div>
    <div class="panel-body">
        <ul class="uiList">
            <li><a href="#"><i class="zmdi zmdi-caret-right zmdi-hc-lg uMarginRxs"></i>Make a general enquiry</a></li>
            <li><a href="#"><i class="zmdi zmdi-caret-right zmdi-hc-lg uMarginRxs"></i>Book a campus tour</a></li>
            <li><a href="#"><i class="zmdi zmdi-caret-right zmdi-hc-lg uMarginRxs"></i>Attend an open house</a></li>
        </ul>
    </div>
</section>

