<ul class="flexList">
    <li class="flexListItem">
        <div class="flexListContent">
        <h3>Harry Peterson</h3>
        <p class="reference">Ref. 564987</p>
        </div>
    </li>
    <li class="flexListItem">
        <div class="flexListContent">
        <h4>Status:</h4>
        <p class="status success">Submitted</p>
        <span class="statusMessage">This application has been submitted. You will be contacted once it has been reviewed.</span></p>
        </div>
    </li>
    <li class="flexListItem">
        <div class="flexListContent">
        <h4>Application fee:</h4>
        <p class="status success">Paid </br> <span class="statusMessage">Your application fee has been paid in full.</span></p>
        </div>
    </li>
    <li class="flexListItem">
        <div class="flexListContent">
        <h4>Documents:</h4>
        <ul class="uiList">
            <li><i class="zmdi zmdi-check-circle zmdi-hc-lg uMarginRxxs iconGreen"></i> Birth certificate</li>
            <li><i class="zmdi zmdi-check-circle zmdi-hc-lg uMarginRxxs iconGreen"></i> School report</li>
            <li><i class="zmdi zmdi-check-circle zmdi-hc-lg uMarginRxxs iconGreen"></i> Medical record</li>
        </ul>
        </div>
    </li>
</ul>
