<section class="panel flexTile flexTileGrow dashboardEnquiries">
    <div class="panel-heading">
        <h2>Enquiries</h2>
    </div>
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row uPaddingAs"><h4>Harry Peterson</h4></div>
            <div class="row uPaddingAs uBorderTop"><h4>Gita Peterson</h4></div>
            <div class="row uPaddingAs uBorderTop"><h4>Annie Peterson</h4></div>
        </div>
    </div>
</section>
