<style>

.successMessageGroup {
  text-align: center;
  margin: auto;
}
.nav.nav-justified {
  font-size: 1.563em;
}
.successMessage {
  min-height: 40em;
}
.successMessageGroup {
  max-width: 24em;
}
.successMessageGroup i.check-icon {
  font-size: 10em;
  color: #00C900;
  margin-top: 1em;
}
</style>


<div class="panel actionPanel successMessage">
    <div class="successMessageGroup">
        <i class="material-icons check-icon">check</i>
        <h1>Password reset sent.</h1>
        <p>We've just emailed you instructions  on how to reset your password.</p>
    </div>
</div>
