<style>

.iconCheckFill {
    font-size: 16px;
    position: relative;
    top: 2px;
    margin-right: 3px;
    color: #00A000;
}

.iconCrossFill {
    font-size: 16px;
    position: relative;
    top: 2px;
    margin-right: 3px;
    color: #aaa;
}

</style>

<div class="">
<div class="panel uPaddingAs">

    <div class="panel-heading" style="margin-bottom: 60px;">
        <h2 class="pull-left">Receipt</h2>
        <div class="pull-right btnRow">
            <a class="btn btn-default lightIcon"><i class="material-icons">print</i> Print</a>
            <a class="btn btn-default lightIcon"><i class="material-icons">mail</i> Email</a>
        </div>
    </div>

    <div class="panel-body">

        <table class="table">
            <caption>Transaction details</caption>
            <tbody>
                <tr> 
                    <th width="200px;">Transaction processed</th> 
                    <td>26/02/2016 2:50:07 PM</td>
                </tr>
                <tr> 
                    <th>Reference number</th> 
                    <td>11001-5 <br><small class="uFontQuiet"><em>Please keep a record of this number for support or questions</em></small></td>
                </tr> 
                <tr> 
                    <th>Description</th> 
                    <td>Fun park - Aden Abbot</td>
                </tr> 
                <tr> 
                    <th>Amount</th> 
                    <td>$175.00</td>
                </tr>
                <tr> 
                    <th>Credit Card Reference </th> 
                    <td>543111...111</td>
                </tr> 
                <tr> 
                    <th>Card Expiry Date</th> 
                    <td>02/16</td>
                </tr>
                <tr> 
                    <th>Wheelchair access required</th> 
                    <td><i class="iconCheckFill"></i> Yes</td>
                </tr>
                <tr> 
                    <th>Gluten free</th> 
                    <td><i class="iconCrossFill"></i> No</td>
                </tr>
                <tr> 
                    <th>Additional details</th> 
                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, unde voluptas vitae sunt suscipit, recusandae facilis placeat repellat voluptatibus labore cupiditate accusantium facere, est, quis qui reprehenderit amet nemo quam.</td>
                </tr>
            </tbody> 
        </table>

        <%= partial "partials/payment/tables/two-column" %>
        
    </div>

</div>
</div>